.cosmetology {
  .cosmetology_start {
    width: 100%;
    height: 100%;
    position: relative;
    .cosmetology_start__promo {
      width: 45%;
      right: 0;
      justify-content: center;
      @media (max-width: 1600px) {
        width: 70%;
        background-color: rgba(255, 250, 250, 0.493);
      }
      @media (max-width: 1280px) {
        width: 100%;
        padding: 200px 100px;
        background-color: rgba(255, 250, 250, 0.493);
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      .cosmetology_start__title {
        font-size: 5.5rem;
        font-family: Gilroy-Bold;
        margin-bottom: 50px;
        text-align: center;
        background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .cosmetology_start__discription {
        font-size: 1.5rem;
        text-align: center;
        line-height: 35px;
        margin-bottom: 30px;
      }
      .cosmetology_start__line {
        font-size: 1.5rem;
        margin-bottom: 30px;
        .cosmetology_start__link {
          margin: 0 10px 20px 10px;
          color: #fff;
          padding-bottom: 10px;
          border-bottom: 2px solid #fff;
          white-space: nowrap;
          &:hover {
            font-family: Gilroy-Bold;
            color: #666666;
            border-bottom: 2px solid #666666;
          }
        }
        @media (max-width: 420px) {
          font-size: 1.3rem;
          .cosmetology_start__link {
            margin: 0 5px 20px 5px;
          }
        }
      }
      .cosmetology_start__king-btn {
        cursor: pointer;
        padding: 25px 120px;
        color: #fff;
        border-radius: 40px;
        font-size: 1.5rem;
        font-family: Gilroy-Bold;
        background: linear-gradient(
          180.07deg,
          rgba(221, 96, 137, 1) 1.78%,
          rgba(247, 185, 151, 1) 99.99%
        );
        @media (max-width: 767px) {
          padding: 25px 120px;
          font-size: 1.2rem;
          margin: 0 10px;
        }
        @media (max-width: 420px) {
          padding: 20px 50px;
        }
        &:hover {
          animation: homeBeautyBtn 1s ease;
          box-shadow: 1px 1px 50px #dd5e89 inset;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .cosmetology {
    .cosmetology_start {
      .cosmetology_start__promo {
        padding: 100px 50px 50px 50px;
        .cosmetology_start__title {
          font-size: 3rem;
          margin-bottom: 20px;
          margin-top: 20px;
        }
        .cosmetology_start__discription {
          font-size: 1.2rem;
          line-height: 30px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .cosmetology {
    .cosmetology_start {
      .cosmetology_start__promo {
        padding: 100px 20px 50px 20px;
        .cosmetology_start__title {
          margin-bottom: 15px;
        }
        .cosmetology_start__discription {
          font-size: 1.2rem;
          line-height: 30px;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .cosmetology {
    .cosmetology_start {
      .cosmetology_start__promo {
        padding: 100px 10px 50px 10px;
        .cosmetology_start__title {
          font-size: 2rem;
          margin-bottom: 15px;
        }
        .cosmetology_start__discription {
          font-size: 1rem;
          line-height: 25px;
          margin-bottom: 30px;
          p {
            display: none;
          }
        }
      }
    }
  }
}

.cosmetology_price_massage {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  .cosmetology_price__inner {
    .cosmetology_price__card {
      width: 100%;
      height: 100%;
      position: relative;
      @media (max-width: 420px) {
        margin-bottom: 50px;
      }
      .cosmetology_price__card_img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: 1920px;
        background-position: bottom;
        &.card_img_1 {
          background-image: url("../../../img/cosmetology/card_1_fone.png");
        }
        &.card_img_2 {
          background-image: url("../../../img/cosmetology/card_2_fone.png");
        }
        &.card_img_3 {
          background-image: url("../../../img/cosmetology/card_3_fone.png");
        }
        &.card_img_4 {
          background-image: url("../../../img/cosmetology/card_4_fone.png");
        }
        &.card_img_5 {
          background-image: url("../../../img/cosmetology/card_5_fone.png");
        }
        &.card_img_6 {
          background-image: url("../../../img/cosmetology/card_6_fone.png");
        }
        &.card_img_7 {
          background-image: url("../../../img/cosmetology/card_7_fone.png");
        }
        &.card_img_8 {
          background-image: url("../../../img/cosmetology/card_8_fone.png");
        }
        &.card_img_9 {
          background-image: url("../../../img/cosmetology/card_9_fone.png");
        }
      }
      .cosmetology_price__content {
        display: flex;
        &.revers {
          flex-direction: row-reverse;
        }
        .cosmetology_price__img {
          width: 50%;
          background-position-x: center;
          background-repeat: no-repeat;
          background-size: cover;

          &.img_1 {
            background-image: url("../../../img/cosmetology/card_1.jpg");
            box-shadow: inset -105px 20px 80px -3px #fff;
          }
          &.img_2 {
            background-image: url("../../../img/cosmetology/card_2.jpg");
            box-shadow: 105px 6px 53px -25px #fff inset;
          }
          &.img_3 {
            background-size: 80%;
            background-image: url("../../../img/cosmetology/card_3.jpg");
            box-shadow: inset -105px 20px 80px -3px #fff;
          }
          &.img_4 {
            background-image: url("../../../img/cosmetology/card_4.jpg");
            box-shadow: 105px 6px 53px -25px #fff inset;
          }
          &.img_5 {
            background-image: url("../../../img/cosmetology/card_5.jpg");
            box-shadow: inset -105px 20px 80px -3px #fff;
          }
          &.img_6 {
            background-image: url("../../../img/cosmetology/card_6.jpg");

            box-shadow: 105px 6px 53px -25px #fff inset;
          }
          &.img_7 {
            background-image: url("../../../img/cosmetology/card_7.jpg");
            box-shadow: inset -105px 20px 80px -3px #fff;
          }
          &.img_8 {
            background-image: url("../../../img/cosmetology/card_8.jpg");
            box-shadow: 105px 6px 53px -25px #fff inset;
          }
          &.img_9 {
            background-image: url("../../../img/cosmetology/card_9.jpg");
            box-shadow: inset -105px 20px 80px -3px #fff;
          }
        }
        .cosmetology_price__block {
          width: 50%;
          padding: 70px 70px 0 70px;
          @media (max-width: 1280px) {
            padding: 70px 50px 0 50px;
          }
          .cosmetology_price__title {
            font-size: 50px;
            font-family: Gilroy-Bold;
            background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 15px;
            border-bottom: 3px solid #dd5e89;
            margin-bottom: 30px;
            @media (max-width: 1280px) {
              font-size: 2rem;
            }
          }
          .cosmetology_price__subtitle {
            font-family: Gilroy-Bold;
            font-size: 36px;
            margin-bottom: 30px;
          }
          .cosmetology_price__text {
            font-size: 1.5rem;
            line-height: 35px;
            .dot {
              display: none;
            }
            .cosmetology_price__text_subtitle {
              font-family: Gilroy-Bold;
              background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 1.5rem;
            }
            p {
              position: relative;
              margin-bottom: 30px;
              z-index: 3;
            }
            ul {
              margin-bottom: 30px;
              li {
                position: relative;
                z-index: 3;
                font-family: Gilroy-Bold;
              }
            }
            @media (max-width: 1280px) {
              font-size: 1.2rem;
              line-height: 30px;
              p {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .cosmetology_price__discription {
        position: relative;
        z-index: 3;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1280px) {
          padding: 20px 50px;
        }
        .cosmetology_price__cost {
          text-align: center;
          margin: 0 5px;
          p {
            &:nth-child(1) {
              font-size: 40px;
              padding-bottom: 40px;
              border-bottom: 2px solid #c5c5c5;
              white-space: nowrap;
              @media (max-width: 1280px) {
                font-size: 30px;
                padding-bottom: 30px;
              }
            }
            &:nth-child(2) {
              margin-top: 30px;
              font-size: 2rem;
              line-height: 45px;
              @media (max-width: 1280px) {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .cosmetology_price__advantages {
        position: relative;
        z-index: 3;
        padding: 50px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        @media (max-width: 768px) {
          &.close {
            display: none;
          }
        }

        @media (max-width: 420px) {
          padding: 20px 0;
        }
        .cosmetology_price__item {
          margin: 0 10px;
          font-size: 1.3rem;
          max-width: 300px;
          @media (max-width: 767px) {
            max-width: 100%;
          }
          p {
            font-family: Gilroy-Bold;
            &:nth-child(1) {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .cosmetology_price_massage {
    .cosmetology_price__inner {
      .cosmetology_price__card {
        .cosmetology_price__card_img {
          @media (max-width: 768px) {
            &.close {
              display: none;
            }
          }
        }
        .cosmetology_price__content {
          display: block;
          .cosmetology_price__img {
            width: 100%;
            height: 30vmax;
            background-position: center;
            box-shadow: -1px 28px 21px -14px #fff inset;
          }
          .cosmetology_price__block {
            padding: 30px 50px 0 50px;
            width: 100%;
            z-index: 3;
            @media (max-width: 768px) {
              .cosmetology_price__text {
                .dot {
                  transition: all 0.5s ease;
                  transform: rotate(180deg);
                  display: block;
                  cursor: pointer;
                  width: 100%;
                  height: 30px;
                  background-image: url("../../../img/cosmetology/arrow.png");
                  background-repeat: no-repeat;
                  background-position: center;
                  &.close {
                    transform: rotate(0deg);
                    transition: all 0.5s ease;
                  }
                }
                p {
                  animation: cosmetologyShowBlock 1s ease;
                  &.close {
                    opacity: 0;
                    display: none;
                  }
                }
                ul {
                  animation: cosmetologyShowBlock 1s ease;
                  &.close {
                    opacity: 0;
                    display: none;
                  }
                }
              }
            }
            @media (max-width: 420px) {
              padding: 30px 10px 0 10px;
            }
            .cosmetology_price__subtitle {
              margin-bottom: 20px;
            }
          }
        }
        .cosmetology_price__discription {
          flex-wrap: wrap;
          width: 100%;
          @media (max-width: 768px) {
            flex-direction: column;
            animation: cosmetologyShowBlock 1s ease;
            &.close {
              display: none;
              opacity: 0;
            }
            .cosmetology_price__cost {
              margin: 0 auto;
              p {
                &:nth-child(1) {
                  font-size: 1.5rem;
                }
                &:nth-child(2) {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .cosmetology_price__cost {
            margin: 0 5px 20px 5px;
            p {
              &:nth-child(1) {
                padding-bottom: 20px;
              }
              &:nth-child(2) {
                margin-top: 20px;
                line-height: 35px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes cosmetologyShowBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cosmetology_price_cosmetology {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  .cosmetology_price__inner {
    .cosmetology_price__block {
      width: 100%;
      height: 100%;
      position: relative;
      .cosmetology_price__fone {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: bottom;
        &.fone_1 {
          background-image: url("../../../img/cosmetology/img_fone_1.png");
        }
        &.fone_2 {
          background-image: url("../../../img/cosmetology/img_fone_2.png");
        }
        &.fone_3 {
          background-position: center;
          background-image: url("../../../img/cosmetology/img_fone_3.png");
        }
      }
      .cosmetology_price__card {
        position: relative;
        z-index: 2;
        display: flex;
        &.revers {
          flex-direction: row-reverse;
        }
        @media (max-width: 768px) {
          flex-direction: column;
          &.revers {
            flex-direction: column;
          }
        }
        .cosmetology_price__img {
          width: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media (max-width: 768px) {
            width: 100%;
            height: 30vmax;
          }
          &.img_1 {
            background-image: url("../../../img/cosmetology/img_card_1.jpg");
          }
          &.img_2 {
            background-image: url("../../../img/cosmetology/img_card_2.jpg");
          }
          &.img_3 {
            background-image: url("../../../img/cosmetology/img_card_3.jpg");
          }
          &.img_4 {
            background-image: url("../../../img/cosmetology/img_card_4.jpg");
          }
          &.img_5 {
            background-image: url("../../../img/cosmetology/img_card_5.jpg");
          }
          &.img_6 {
            background-image: url("../../../img/cosmetology/img_card_6.jpg");
          }
          &.img_7 {
            background-image: url("../../../img/cosmetology/img_card_7.jpg");
          }
        }
        .cosmetology_price__content {
          position: relative;
          width: 50%;
          padding: 70px;
          @media (max-width: 960px) {
            padding: 50px;
          }
          @media (max-width: 420px) {
            padding: 50px 10px;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
          .cosmetology_price__title {
            font-size: 50px;
            font-family: Gilroy-Bold;
            background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 15px;
            border-bottom: 3px solid #dd5e89;
            margin-bottom: 30px;
            @media (max-width: 1280px) {
              font-size: 2rem;
            }
            @media (max-width: 420px) {
              font-size: 2rem;
              margin-bottom: 20px;
            }
          }
          .cosmetology_price__subtitle {
            font-family: Gilroy-Bold;
            font-size: 36px;
            margin-bottom: 30px;
            @media (max-width: 420px) {
              font-size: 2rem;
              margin-bottom: 20px;
            }
          }
          .cosmetology_price__text {
            font-size: 1.5rem;
            line-height: 35px;
            @media (max-width: 960px) {
              font-size: 1.2rem;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
