@import './home/HomeFit.scss';
@import './ems/Ems.scss';
@import './stretching/Stretching.scss';
@import './home/quate/Quate.scss';
@import './fight/Fight.scss';




.fit {
    background-color: #000;
    color: #fff;
}