@import "./home/HomeFit.scss";
@import "./ems/Ems.scss";
@import "./stretching/Stretching.scss";
@import "./home/quate/Quate.scss";
@import "./fight/Fight.scss";
@import "./functional/Functional.scss";
@import "./workout/Workout.scss";
@import "./online/Online.scss";

.fit {
  background-color: #000;
  color: #fff;
}

.prices__one {
  font-size: 1.2rem;
  width: 100%;
  text-align: start;
  margin: 50px 0 10px 0;
  font-family: Gilroy-Bold;
  span {
    white-space: nowrap;
}
}
