
.contacts {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    background-color: #000;
    .contacts__map {
        position: relative;
        
        pointer-events: none;
        width: 100%;
        height: 100vh;
    }

    .contacts__block {
        position: absolute;
        width: 30%;
        height: 70vh;
        top: 15%;
        left: 10%;
        z-index: 3;
        background-color: #000;
        padding: 50px;
        box-shadow: 5px 5px 10px rgba(56, 55, 55, 0.575);
    }
}

@media (max-width: 960px) {
    .contacts {
        display: flex;
        .contacts__map {
            pointer-events: fill;
            display: block;
            width: 100%;
            height: 60vh;
        }
        .contacts__block {
            display: block;
            position: unset;
            width: 100%;
            height: 40vh;
            padding: 10px;
        }
    }
}


