


.home-fit__fone {
    background-image: url('../../../img/fone-fit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;   
    height: 100vh;
    animation: blureFone 3s ease;
    

    .home-fit__promo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       .home-fit__title {
            display: block;
            text-align: center;
            
            span {
                font-size: 150px;
                display: block;
                text-align: center;
                font-family: 'Gilroy-Bold'
            }
       } 

       .home-fit__discription {
            text-align: center;
            display: block;
            
       }
    }
}





























@keyframes blureFone {
    0% {
        filter: blur(10px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}