


.home-fit__fone {
    background-image: url('../../../img/fone-fit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;   
    height: 100vh;
    width: 100%;
    animation: blureFone .5s ease;
    
    
    .home-fit__promo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 0;
        position: fixed;
        
        
        
        
       .home-fit__title {
            margin: 10px;
            display: block;
            text-align: center;
            font-size: 2rem;
            font-family: 'Gilroy-Bold';
            
            span {
                font-size: 10rem;
                display: block;
                text-align: center;
                font-family: 'Gilroy-Bold';
                white-space: nowrap;
            }
       } 

       .home-fit__discription {
            margin: 10px;
            text-align: center;
            display: block;
            font-size: 1.5rem;
            font-family: 'Gilroy-Bold';
       }
       .home-fit__king-btn {
           cursor: pointer;
           margin: 50px 10px;
           padding: 30px;
           font-family: 'Gilroy-Bold';
           font-size: 1.5rem;
           background: linear-gradient(87.62deg, #E6DADA 0%, #667477 100%);
           color: #000;
           &:hover {
                animation: btn 1s ;
                box-shadow: 0 -200px 70px -100px #E6DADA inset; 
           } 
       }
    }
    
}
.home-fit {
    .xxx {
        padding: 100px 50px;
        background-color: #000;
        color: #fff;
        position: relative;
        z-index: 3;
        
    }
}




@media (max-width: 767px) {
    .home-fit__fone {
       
        .home-fit__promo {
           
            .home-fit__title {
                font-size: 1.5rem;
                span {
                    font-size: 7rem;
                }
            }
            .home-fit__discription {
                font-size: 1rem;
            }
            .home-fit__king-btn {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 420px) {
    .home-fit__fone {
       
        .home-fit__promo {
           
            .home-fit__title {
                font-size: 1rem;
                span {
                    font-size: 5rem;
                }
            }
            .home-fit__discription {
                font-size: .8rem;
            }
            .home-fit__king-btn {
                font-size: 1rem;
                padding: 20px;
            }
        }
    }
}














@keyframes btn {
    0% {
        box-shadow: 0 0 70px -100px #E6DADA inset,
    }
    100% {
        box-shadow: 0 -200px 70px -100px #E6DADA inset,
    }
}




@keyframes blureFone {
    0% {
        filter: blur(10px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}

