


.home-fit__fone {
    background-image: url('../../../img/fone-fit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;   
    height: 100vh;
    width: 100%;
    animation: blureFone .5s ease;
    
    
    .home-fit__promo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 0;
        position: fixed;
        margin-top: 50px;
        
        
        
       .home-fit__title {
            margin: 10px;
            display: block;
            text-align: center;
            font-size: 2rem;
            font-family: 'Gilroy-Bold';
            
            span {
                margin: 40px 40px 30px 40px;
                max-width: 500px;
                display: block;
                img {
                    width: 100%;
                }
            }
       } 

       .home-fit__discription {
            margin: 10px;
            text-align: center;
            display: block;
            font-size: 1.5rem;
            font-family: 'Gilroy-Bold';
       }
       .home-fit__king-btn {
           cursor: pointer;
           margin: 50px 10px;
           padding: 30px;
           font-family: 'Gilroy-Bold';
           font-size: 1.5rem;
           background: linear-gradient(87.62deg, #E6DADA 0%, #667477 100%);
           color: #000;
           &:hover {
                animation: btn 1s ;
                box-shadow: 0 -200px 70px -100px #E6DADA inset; 
           } 
       }
    }
    
}


@media (max-width: 767px) {
    .home-fit__fone {
       
        .home-fit__promo {
           
            .home-fit__title {
                font-size: 1.5rem;
                span {
                    margin: 30px 30px 20px 30px;
                }
            }
            .home-fit__discription {
                font-size: 1rem;
            }
            .home-fit__king-btn {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 420px) {
    .home-fit__fone {
       
        .home-fit__promo {
           
            .home-fit__title {
                font-size: 1rem;
                span {
                    margin: 20px 20px 10px 20px;
                }
            }
            .home-fit__discription {
                font-size: .8rem;
            }
            .home-fit__king-btn {
                font-size: 1rem;
                padding: 20px;
            }
        }
    }
}

@keyframes btn {
    0% {
        box-shadow: 0 0 70px -100px #E6DADA inset,
    }
    100% {
        box-shadow: 0 -200px 70px -100px #E6DADA inset,
    }
}

@keyframes blureFone {
    0% {
        filter: blur(10px);
    }
    50% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}


$colorText: #fff;

.home-fit {
    color: $colorText;
    .services {
        // padding: 100px 0; !!!!!!
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #000;
        position: relative;
        .services__card {
            display: flex;
            opacity: .7;
            &:hover {
                opacity: 1;
                transition: all 1.5s ease;
                .card__img {
                    min-width: 60%;
                    min-height: 60vh;
                    transition: all 1.5s ease;
                    
                }
            }
            .card__img {
                min-width: 50%;
                min-height: 50vh;
                background-repeat: no-repeat;
                background-size: cover;
               
                &.ems {
                    background-image: url('../../../img/homeFit/ems_pic.jpg');

                }
                &.bms {
                    background-image: url('../../../img/homeFit/bms_pic.jpg');
                    background-position: 50% 0;
                }
                &.mma {
                    background-image: url('../../../img/homeFit/mma_pic.jpg');
                }
                &.str {
                    background-image: url('../../../img/homeFit/str_pic.jpg');
                    background-position: 50% 0;
                }
            }
            .card__text {
                padding: 20px 20px 50px 20px;
                margin: auto;
               
                .card__title {
                    font-size: 3rem;
                    margin-bottom: 40px;
                    font-family: Gilroy-Bold;
                    padding-bottom: 5px;
                    border-bottom: 2px solid $colorText;
                    display: inline-block;
                }
                .card__dicription {
                    font-size: 1.5rem;
                    margin-bottom: 30px;
                    line-height: 28px;
                    letter-spacing: .2px;
                }
                .card__link {
                    cursor: pointer;
                    color: $colorText;
                    font-size: 20px;
                    background-image: url('../../../img/homeFit/arrow.png');
                    background-repeat: no-repeat;
                    background-position: right 3px;
                    padding: 0 22px 14px 0;
                    border-bottom: 2px solid $colorText;
                    opacity: .7;
                    &:hover {
                        transition: all 1s ease;
                        opacity: 1;
                    }
                }
            }
        }
    }
}



@media (max-width: 1280px) {
    .home-fit {
       
        .services {
            
            .services__card {
                
                
                .card__text {
                   
                    .card__title {
                        font-size: 2.5rem; 
                        margin-bottom: 30px;
                    }
                    .card__dicription {
                        font-size: 1.2rem;
                        line-height: 22px;
                        letter-spacing: .2px;
                    }
                    .card__link {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .home-fit {
       
        .services {
            
            .services__card {
                
                &:nth-child(1) {
                    flex-direction: column;
                }
                &:nth-child(2) {
                    flex-direction: column-reverse;
                }
                &:nth-child(3) {
                    flex-direction: column;
                }
                &:nth-child(4) {
                    flex-direction: column-reverse;
                }
                .card__text {
                    margin: 0;
                    padding: 30px 0 50px 0;
                    .card__title {
                       
                    }
                    .card__dicription {

                    }
                    .card__link {

                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .home-fit {
       
        .services {
            
            .services__card {
                .card__text {
                    .card__title {
                        display: block;
                        text-align: center;
                        font-size: 2rem; 
                        margin-bottom: 30px;
                    }
                    .card__dicription {
                        font-size: 1rem;
                        line-height: 20px;
                        letter-spacing: .2px;
                    }
                    .card__link {
                        font-size: 16px;
                    }
                }
                
            }
        }
    }
}
