
.home-beauty {

    .home-beauty__promo {
        width: 100%;
        height: 100%;
        .home-beauty__fone {
            
            height: 100vh;
            width: 100%;
           
            .home-beauty__promo-text {
                width: 60%;
                height: 100%;
                margin: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .home-beauty__title {
                    margin: 10px;
                    display: block;
                    text-align: center;
                    font-size: 2rem;
                    font-family: 'Gilroy-Bold';
                    span {
                        margin: 30px 0;
                        font-size: 9rem;
                        display: block;
                        text-align: center;
                        font-family: 'Gilroy-Bold';
                        white-space: nowrap;
                    }
                }
                .home-beauty__discription {
                    margin: 10px;
                    text-align: center;
                    display: block;
                    font-size: 1.5rem;
                    font-family: 'Gilroy-Bold';
                }
                .home-beauty__king-btn {
                    cursor: pointer;
                    text-transform: uppercase;
                    min-width: 420px;
                    margin: 50px 10px;
                    padding: 25px;
                    font-family: 'Gilroy-Bold';
                    font-size: 1.5rem;
                    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                    border-radius: 50px;
                    color: #fff;
                    &:hover {
                        // animation: btn 1s ;
                        box-shadow: 100px 0 100px -10px #F7BB97 inset; 
                    }
                }
            }
        }
       
    }
}



// @keyframes btn {
//     0% {
//         box-shadow: 0 0 0 -10px #F7BB97 inset; 
//     }
//     100% {
//         box-shadow: 0 0 0 -10px #F7BB97 inset; 
//     }
// }