
.home-beauty {

    .home-beauty__promo {
        animation: blureFone .5s ease;
        width: 100%;
        height: 100%;
        .home-beauty__fone {
            background-image: url('../../../img/homeBeauty/foneBeauty.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: right;
            background-position-y: top;
            height: 100vh;
            width: 100%;
           margin-top: -50px;
            .home-beauty__promo-text {
                width: 60%;
                height: 100%;
                margin: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .home-beauty__title {
                    margin: 10px;
                    display: block;
                    text-align: center;
                    font-size: 2rem;
                    font-family: 'Gilroy-Bold';
                    span {
                        margin: 40px 40px 30px 40px;
                        max-width: 500px;
                        display: block;
                       img {
                           width: 100%;
                       }
                    }
                }
                .home-beauty__discription {
                    margin: 10px;
                    text-align: center;
                    display: block;
                    font-size: 2rem;
                    font-family: 'Gilroy-Bold';
                }
                .home-beauty__king-btn {
                    cursor: pointer;
                    text-transform: uppercase;
                    min-width: 380px;
                    margin: 50px 10px;
                    padding: 25px;
                    font-family: 'Gilroy-Bold';
                    font-size: 1.5rem;
                    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                    border-radius: 50px;
                    color: #fff;
                    &:hover {
                        // animation: btn 1s ;
                        box-shadow: 100px 0 100px -10px #F7BB97 inset; 
                    }
                }
            }
        }
       
    }
}


@media (max-width: 960px) {
    .home-beauty {
        .home-beauty__promo {
            .home-beauty__fone {
                .home-beauty__promo-text {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        } 
    }
}
@media (max-width: 420px) {
    .home-beauty {
        .home-beauty__promo {
            .home-beauty__fone {
                padding: 0 10px;
                .home-beauty__promo-text {
                    background-color: rgba(255, 255, 255, 0.292);
                    .home-beauty__title {
                        font-size: 1.5rem;
                        span {
                            margin: 20px;
                            max-width: 500px;
                            display: block;
                           img {
                               width: 100%;
                           }
                        }
                    }
                    .home-beauty__discription {
                        margin: 20px 10px;
                        text-align: center;
                        display: block;
                        font-size: 2rem;
                        font-family: 'Gilroy-Bold';
                    }
                    .home-beauty__king-btn {
                        font-size: 1.2rem;
                        min-width: 300px;
                    }
                }
            }
        }
    }
}



.home-beauty {

    .home-beauty_advantage {
        background-color: #FAFAFA;
        .home-beauty_advantage__inner {
            padding: 100px 80px;
            .home-beauty_advantage__list {
                overflow: auto;
                display: flex;
                justify-content: space-between;
                @media (max-width: 1280px) {
                    overflow: hidden;
                    overflow-x: scroll;
                    min-width: 100%;
                    justify-content: flex-start;
                }
                .home-beauty_advantage__item {
                    max-width: 400px;
                    min-width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    @media (max-width: 960px) {
                        min-width: 40vh;
                        margin: 0 10%;
                    }
                    @media (max-width: 420px) {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                    .home-beauty_advantage__img {
                        width: 80px;
                        height: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    .home-beauty_advantage__title {
                        font-size: 1.5rem;
                        font-family: 'Gilroy-Bold';
                        margin: 20px 10px;
                        background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: #DD5E89;
                        text-align: center;
                    }
                    .home-beauty_advantage__text {
                        text-align: center;
                        font-size: 20px;
                        p {
                            font-size: 1.2rem;
                            margin: 10px;
                        }
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .home-beauty {
        .home-beauty_advantage {
            .home-beauty_advantage__inner{
                padding: 50px 35px;
                .home-beauty_advantage__list {
                    width: 100%;
                    .home-beauty_advantage__item {
                        margin: 0 50px;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .home-beauty {
        .home-beauty_advantage {
            .home-beauty_advantage__inner{
                padding: 50px 0;
                .home-beauty_advantage__list {
                    
                    .home-beauty_advantage__item {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                }
            }
        }
    }
}


.home-beauty {
    .home-beauty_services {
        width: 100%;
        background-image: url('../../../img/homeBeauty/Beauty_text.png');
        background-repeat: no-repeat;
        background-position: 150px 0;
        .home-beauty_services__inner {
            padding: 100px 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .home-beauty_services__title {
                font-size: 46px;
                font-family: 'Gilroy-Bold';
                background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 60%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                letter-spacing: 10px;
                padding-bottom: 15px;
                border-bottom: 3px solid #DD5E89;
                margin-bottom: 25px;
            }
            .home-beauty_services__cards {
                padding-top: 25px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .home-beauty_services__card {
                    padding: 10px;
                    width: 542px;
                    .home-beauty_services__img {
                        width: 100%;
                        margin-bottom: 50px;
                    }
                    .home-beauty_services__discription {
                        height: 500px;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        @media (max-width: 1800px) {
                            height: 550px;
                        }
                        @media (max-width: 1600px) {
                            height: 700px;
                        }
                        .home-beauty_services__subtitle {
                            font-size: 36px;
                            padding-bottom: 15px;
                            font-family: 'Gilroy-Bold';
                            border-bottom: 3px solid #000;
                            display: inline-block;
                            margin-bottom: 30px;
                        }
                        .home-beauty_services__text {
                            font-size: 1.5rem;
                        }
                        .home-beauty_services__more {
                            font-size: 1.5rem;
                            font-family: 'Gilroy-Bold';
                            color: #DD5E89;
                            background-image: url('../../../img/homeBeauty/White_arrow.png');
                            background-repeat: no-repeat;
                            background-position-x: right;
                            background-position-y: center;
                            padding: 15px 20px 15px 0;
                            border-bottom: 3px solid #DD5E89;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1280px) {
    .home-beauty {
        .home-beauty_services {
            .home-beauty_services__inner {
                padding: 50px 35px;
                .home-beauty_services__title {

                }
                .home-beauty_services__cards {
                    display: flex;
                    flex-direction: column;
                    .home-beauty_services__card { 
                        display: flex;
                        width: 100%;
                        padding: 0;
                        .home-beauty_services__img {
                            max-width: 500px;
                        }
                        .home-beauty_services__discription {
                            margin: 0 0 0 30px;
                            height: 100%;
                            .home-beauty_services__text {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .home-beauty {
        .home-beauty_services {
            background-position: center 0;
            .home-beauty_services__inner {
                padding: 50px 35px;
                .home-beauty_services__cards {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .home-beauty_services__card { 
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 0;
                        .home-beauty_services__img {
                            // width: 100%;
                        }
                        .home-beauty_services__discription {
                            margin: 0 0 50px 0;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .home-beauty {
        .home-beauty_services {
            background-size: contain;
            .home-beauty_services__inner {
                padding: 50px 0;
                .home-beauty_services__title {
                    font-size: 2.5rem;
                }
                .home-beauty_services__cards {
                    display: flex;
                    flex-direction: column;
                    .home-beauty_services__card { 
                        .home-beauty_services__img {
                            width: 100%;
                        }
                        .home-beauty_services__discription {
                            margin: 0 0 50px 0;
                            height: 100%;
                            .home-beauty_services__text {
                                font-size: 1.2rem;
                            }
                            .home-beauty_services__subtitle {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}









// .home-beauty {
//     .home-beauty_services {
//         width: 100%;
//         .home-beauty_services__title {
//            font-size: 5rem;
//            font-family: 'Gilroy-Bold';
//            letter-spacing: 20px;
//            padding: 30px 0;
//         }
//         .home-beauty_services__inner {
//             display: flex;
//             .home-beauty_services__img {
//                 width: 50%;
//                 height: 100vh;
//                 background-repeat: no-repeat;
//                 .home-beauty_services__text {
//                     height: 100%;
//                     display: flex;
//                     align-items: flex-end;
//                     font-size: 1.5rem;
//                     p {
//                         padding: 50px;
//                         background-color: rgba(255, 255, 255, 0.452);
//                     }
//                 }
//                 &.img_cosmetology {
//                     background-image: url('../../../img/homeBeauty/fone_services.jpg');
//                 }
//                 &.img_depilation {
    
//                 }
//                 &.img_massage {
    
//                 }
//             }
//             .home-beauty_services__discription {
//                 width: 50%;
//                 height: 100vh;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-around;
//                 align-items: center;
//                 .home-beauty_services__subtitle {
//                     cursor: pointer;
//                     font-size: 3rem;
//                 }
//             }
//         } 
//     }
// }







