
.home-beauty {

    .home-beauty__promo {
        animation: blureFone .5s ease;
        width: 100%;
        height: 100%;
        .home-beauty__fone {
            background-image: url('../../../img/homeBeauty/foneBeauty.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x:  right;
            height: 100vh;
            width: 100%;
           
            .home-beauty__promo-text {
                width: 60%;
                height: 100%;
                margin: 30px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .home-beauty__title {
                    margin: 10px;
                    display: block;
                    text-align: center;
                    font-size: 2rem;
                    font-family: 'Gilroy-Bold';
                    span {
                        margin: 40px 40px 30px 40px;
                        max-width: 500px;
                        display: block;
                       img {
                           width: 100%;
                       }
                    }
                }
                .home-beauty__discription {
                    margin: 10px;
                    text-align: center;
                    display: block;
                    font-size: 2rem;
                    font-family: 'Gilroy-Bold';
                }
                .home-beauty__king-btn {
                    cursor: pointer;
                    text-transform: uppercase;
                    min-width: 380px;
                    margin: 50px 10px;
                    padding: 25px;
                    font-family: 'Gilroy-Bold';
                    font-size: 1.5rem;
                    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                    border-radius: 50px;
                    color: #fff;
                    &:hover {
                        // animation: btn 1s ;
                        box-shadow: 100px 0 100px -10px #F7BB97 inset; 
                    }
                }
            }
        }
       
    }
}


@media (max-width: 960px) {
    .home-beauty {
        .home-beauty__promo {
            .home-beauty__fone {
                .home-beauty__promo-text {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        } 
    }
}
@media (max-width: 420px) {
    .home-beauty {
        .home-beauty__promo {
            .home-beauty__fone {
                padding: 0 10px;
                .home-beauty__promo-text {
                    background-color: rgba(255, 255, 255, 0.292);
                    .home-beauty__title {
                        font-size: 1.5rem;
                        span {
                            margin: 20px;
                            max-width: 500px;
                            display: block;
                           img {
                               width: 100%;
                           }
                        }
                    }
                    .home-beauty__discription {
                        margin: 20px 10px;
                        text-align: center;
                        display: block;
                        font-size: 2rem;
                        font-family: 'Gilroy-Bold';
                    }
                    .home-beauty__king-btn {
                        font-size: 1.2rem;
                        min-width: 300px;
                    }
                }
            }
        }
    }
}



.home-beauty {

    .home-beauty_advantage {
        background-color: #FAFAFA;
        .home-beauty_advantage__inner {
            padding: 100px 80px;
            .home-beauty_advantage__list {
                overflow: auto;
                display: flex;
                justify-content: space-between;
                .home-beauty_advantage__item {
                    max-width: 400px;
                    min-width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .home-beauty_advantage__img {
                        width: 80px;
                        height: 80px;
                        img {
                            width: 100%;
                        }
                    }
                    .home-beauty_advantage__title {
                        font-size: 1.5rem;
                        font-family: 'Gilroy-Bold';
                        margin: 20px 10px;
                        background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: #DD5E89;
                        text-align: center;
                    }
                    .home-beauty_advantage__text {
                        text-align: center;
                        font-size: 20px;
                        p {
                            margin: 10px;
                        }
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .home-beauty {
        .home-beauty_advantage {
            .home-beauty_advantage__inner{
                padding: 50px 35px;
                .home-beauty_advantage__list {
                    width: 100%;
                    .home-beauty_advantage__item {
                        margin: 0 50px;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .home-beauty {
        .home-beauty_advantage {
            .home-beauty_advantage__inner{
                padding: 50px 0;
                .home-beauty_advantage__list {
                    
                    .home-beauty_advantage__item {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                }
            }
        }
    }
}



