.form {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0);
    background-image: url('../../img/workout/form_fone.jpg');
    .form__content {
        width: 100%;
        background-repeat: no-repeat;
        background-position: top right 20%;
        background-size: cover;
        min-height: 642px;
        max-width: 1920px;
        margin: 0 auto; 
        padding: 100px 20px;
        display: flex;
        .form__inner {
            display: flex;
            flex-direction: column;
            margin: 20px 70px 20px 160px;
            .from__title {
                font-size: 36px;
                font-family: Gilroy-Bold;
                margin-bottom: 50px;
                span {
                    white-space: nowrap;
                    font-family: Gilroy-Bold;
                }
            }
            .form__input {
                max-width: 700px;
                color: #fff;
                font-size: 20px;
                background-color: rgba($color: #000000, $alpha: 0);
                padding: 10px;
                border-bottom: 2px solid #fff;
                margin-bottom: 40px;
                &::placeholder {
                    color: #fff;
                    font-size: 20px;
                }
            }
            .form__btn {
                cursor: pointer;
                display: inline-block;
                padding: 20px;
                background: linear-gradient(87.83deg, #0084D3 0%, #CC2B5E 97.5%);
                font-family: Gilroy-Bold;
                color: #fff;
                font-size: 1.5rem;
                margin-top: 50px;
                &:hover {
                    box-shadow: 1px 1px 50px rgb(80, 7, 109) inset;
                    animation: formFitBtnActiveWorkout 1s ease;
                }
            }
        }
    }
}


@keyframes formFitBtnActiveWorkout {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 1px 1px 50px rgb(80, 7, 109) inset;
    }
}

@media (max-width: 960px) {
    .form {
        .form__content {
            .form__inner {
                margin: 0;
                width: 100%;
                .form__input {
                    max-width: 100%;
                }
            }
        }
        
    }
}

@media (max-width: 420px) {
    .form {
        .form__content {
            padding: 0;
            .form__inner {
                margin: 0;
                width: 100%;
                padding: 50px 10px;
                background-color: rgba($color: #000000, $alpha: .5);
                .from__title {
                    font-size: 2.5rem;
                }
                .form__input {
                    max-width: 100%;
                }
            }
        }
    }
}
