//button
.deposit {
    
}
.deposit_btn {
    margin-top: -100px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: inline-block;
    background-color: #00000000;
    width: 250px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        border: 2px solid #ffffff;
        top: -10px;
        left: 50%;
        z-index: 1;
        margin-left: -40px;
        transition: all 0.8s ease 0s;
    }
    &::before {
        animation: btnRotate 20s infinite linear;
    }
    &::after {
        animation: btnRotate 60s infinite linear;
    }

    &:hover::before,
    &:hover::after {
        left: 100%;
        opacity: 0;
    }
    &:hover .deposit_btn__text::before {
        width: 100%;
    }
    &:hover .deposit_btn__text::before,
    &:hover .deposit_btn__text::after {
        background-color: #ca0000;
    }

    &:hover .deposit_btn__text {
        box-shadow: 0 5px 0px 0 #4b1313;
        top: -5px;
        color: #fff;
        transition: all 0.5s ease 0.2s;
    }
    &:active .deposit_btn__text {
        box-shadow: 0 2px 0px 0 #4b1313;
        top: -2px;
        color: #fff;
        transition: all 0.2s ease 0s;
    }
    .deposit_btn__text {
        position: relative;
        height: 50px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: 0.8);
        letter-spacing: 6px;
        transition: all 1s ease 0s;
        top: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            background: rgba(211, 31, 34, 0.904);
            transition: all 0.8s ease 0s;
        }
        &::before {
            left: 0;
            z-index: 2;
        }
        &::after {
            right: 0;
        }
        span {
            position: relative;
            z-index: 2;
            font-family: Gilroy-Bold;
        }
    }
}
@keyframes btnRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




.deposit_price {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('../../img/deposit/Group\ 64.jpg');
    background-size: cover;
    animation: openDeposit 1s ease-in;
    &.close {
        display: none; 
    }
    .deposit_price__inner {
        padding: 100px;
        text-align: center;
        font-size: 1.5rem;
        @media (max-width: 767px) {
            padding: 100px 50px 50px 50px;
        }
        @media (max-width: 420px) {
            padding: 100px 0 50px 0;
            font-size: 1.2rem;
        }
        .deposit_price__title {
            font-size: 36px;
            font-family: Gilroy-Bold;
            padding: 0 30px 0 30px;
            @media (max-width: 420px) {
                padding: 0;
                font-size: 2rem;
            }
        }
        .deposit_price__subtitl {
            padding: 30px;
            font-family: Gilroy-Bold;
            @media (max-width: 420px) {
                padding: 20px 0;
            }
        }
        .deposit_price__text {
            line-height: 35px;
            text-shadow: 0 0 5px #ca0000;
            font-family: Gilroy-Bold;
        }
        .deposit_price__list {
            padding: 20px;
            li {
                padding: 5px;
                font-family: Gilroy-Bold;
                text-shadow: 0 0 10px #ca0000;
            }
        }
        .deposit_price__btn {
            position: relative;
            z-index: 10;
            width: 50%;
            padding: 20px;
            font-family: Gilroy-Bold;
            cursor: pointer;
            color: #fff;
            background-color: #ca0000;
            &:hover {
                animation: ems_btn 1s ease;
                box-shadow: 1px 1px 50px rgb(63, 2, 2) inset;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

@keyframes openDeposit {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}