//button
.deposit {
    
}
.deposit_btn {
    margin-top: -70px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: inline-block;
    background-color: #00000000;
    width: 260px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid #000;
        top: -25px;
        left: 50%;
        z-index: 1;
        margin-left: -40px;
        transition: all 0.8s ease 0s;
    }
    &::before {
        animation: btnRotate 20s infinite linear;
    }
    &::after {
        animation: btnRotate 60s infinite linear;
    }

    &:hover::before,
    &:hover::after {
        left: 100%;
        opacity: 0;
    }
    &:hover .deposit_btn__text::before {
        width: 100%;
    }
    &:hover .deposit_btn__text::before,
    &:hover .deposit_btn__text::after {
        background-color: #000;
    }

    &:hover .deposit_btn__text {
        box-shadow: 0 5px 0px 0 #49134b;
        top: -5px;
        color: #fff;
        transition: all 0.5s ease 0.2s;
    }
    &:active .deposit_btn__text {
        box-shadow: 0 2px 0px 0 #6b0294;
        top: -2px;
        color: #fff;
        transition: all 0.2s ease 0s;
    }
    .deposit_btn__text {
        position: relative;
        height: 50px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: 0.8);
        letter-spacing: 6px;
        transition: all 1s ease 0s;
        top: 0;
        border-radius: 30px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 80%);
            transition: all 0.8s ease 0s;
            border-radius: 30px;
        }
        &::before {
            left: 0;
            z-index: 2;
        }
        &::after {
            right: 0;
        }
        span {
            position: relative;
            z-index: 2;
            font-family: Gilroy-Bold;
        }
    }
}
@keyframes btnRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




.deposit_price {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('../../img/deposit/banner_deposit.jpg');
    background-position-x: left;
    background-size: cover;
    animation: openDeposit 1s ease-in;
    &.close {
        display: none; 
    }
    .deposit_price__inner {
        padding: 100px;
        text-align: center;
        font-size: 1.5rem;
        @media (max-width: 767px) {
            padding: 100px 50px 50px 50px;
        }
        @media (max-width: 420px) {
            padding: 100px 0 50px 0;
            font-size: 1.2rem;
        }
        .deposit_price__title {
            font-size: 36px;
            font-family: Gilroy-Bold;
            padding: 0 30px 0 30px;
            @media (max-width: 420px) {
                padding: 0;
                font-size: 2rem;
            }
        }
        .deposit_price__subtitl {
            padding: 30px;
            font-family: Gilroy-Bold;
            @media (max-width: 420px) {
                padding: 20px 0;
            }
        }
        .deposit_price__text {
            line-height: 35px;
            text-shadow: 0 0 10px #dd5e89;
            font-family: Gilroy-Bold;
        }
        .deposit_price__list {
            padding: 20px;
            li {
                padding: 5px;
                font-family: Gilroy-Bold;
                text-shadow: 0 0 20px #dd5e89;
            }
        }
        .deposit_price__btn {
            cursor: pointer;
            text-transform: uppercase;
            width: 380px;
            padding: 25px;
            font-family: "Gilroy-Bold";
            font-size: 1.5rem;
            background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
            border-radius: 50px;
            color: #fff;
            box-shadow: none;
            &:hover {
                animation: homeBeautyBtn 1s ease;
                box-shadow: 1px 1px 50px #dd5e89 inset;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

@keyframes openDeposit {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}
@keyframes homeBeautyBtn {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: 1px 1px 50px #dd5e89 inset;
    }
  }