.functional {

    .functional__fone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        
        
        .functional__vidio {
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #000;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                
            }
        }
        .functional__promo {
            width: 40%;
            top: 0;
            left: 0;
            z-index: 0;
            position: relative;
            animation: showPromo 2s ease;
            background-color: rgba($color: #000000, $alpha: .5);
            @media (max-width: 1280px) {
                width: 50%;
            }
            .functional__promo_inner {
                height: 100vh;
                padding: 0 20px 20px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                box-shadow: 1px 1px 5px #000;
                .functional__title {
                    font-size: 3rem;
                    font-family: Gilroy-Bold;
                    text-align: center;
                    margin-bottom: 30px;
                }
                .functional__discription {
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 30px;
                    margin-bottom: 60px; 
                }
                .functional__king_btn {
                    cursor: pointer;
                    padding: 25px;
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: Gilroy-Bold;
                    background: #DC3A3E ;
                    &:hover {
                        animation: ems_btn 1s ease;
                        box-shadow: 1px 1px 50px rgb(63, 2, 2) inset;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .functional {
        .functional__fone {

            .functional__promo {
                width: 70%;
                
                .functional__promo_inner {
                    
                  
                    .functional__title {
                        margin: 0 0 20px 20px;;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .functional {
        .functional__fone {
            background-position: 50% center;
            background-size: contain;
            .functional__promo {
                width: 100%;
                .functional__promo_inner {
                    padding: 0 20px;
                    .functional__title {
                        font-size: 2.5rem;
                        
                        margin: 0 0 20px 20px;
                    }
                    .functional__discription {
                        font-size: 1.2rem;
                        line-height: 30px;
                    }
                    .functional__king_btn {
                        font-size: 1rem;
                    }
                }
               
            }
        }
    }
}
@media (max-width: 420px) {
    .functional {
        .functional__fone {

            .functional__promo {
                width: 100%;
                .functional__promo_inner {
                   padding: 0;
                    .functional__title {
                        font-size: 1.7rem;
                    }
                    .functional__discription {
                        
                        font-size: 1.2rem;
                        margin-bottom: 20px;
                    }
                    .functional__king_btn {
                        padding: 15px;
                        font-size: 1.2rem;
                    }
                }
                
            }
        }
    }
}



.functional {
    
    .functional_advantage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 70%;
        
        background-image: url('../../../img/functional/functional_advantage_fone.jpg');
        background-color: rgba(36, 34, 34, 0.849);
        box-shadow: 0 -150px 200px inset #000;

        .functional_advantage__inner {
            padding: 100px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            @media (max-width: 960px) {
                padding: 50px 0px;
            }
            @media (max-width: 420px) {
                padding: 50px 0;
            }
            .functional_advantage__title {
                font-family: Gilroy-Bold;
                font-size: 36px;
                padding-bottom: 10px;
                border-bottom: 3px solid #fff;
                margin-bottom: 70px;
                @media (max-width: 420px) {
                    margin-bottom: 20px;
                }
            }
            .functional_advantage__list {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: nowrap;
                width: 100%;
                overflow: hidden;
                    overflow-x: auto;
                @media (max-width: 1280px) {
                    
                    min-width: 100%;
                    justify-content: flex-start;
                }
                .functional_advantage__item {
                    max-width: 400px;
                    min-width: 300px;
                    margin: 20px 10px 50px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    @media (max-width: 960px) {
                        min-width: 40vh;
                        margin: 0 10%;
                    }
                    @media (max-width: 420px) {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                    .functional_advantage__subtitle {
                        font-size: 1.5rem;
                        margin-bottom: 20px;
                        font-family: Gilroy-Bold;
                    }
                    img {
                        padding-bottom: 40px;
                        @media (max-width: 420px) {
                            padding-bottom: 20px;
                        }
                    }
                    p {   
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}





.functional { 
    position: relative;
    .functional_prices {
        width: 100%;
        background-image: url('../../../img/functional/price_fone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 100px 100px 200px inset #000;
        .functional_prices__inner {
            padding: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 1280px) {
                 padding: 100px 0; 
            }
            .functional_prices__title {
                display: block;
                font-size: 2.5rem;
                font-family: Gilroy-Bold;
                padding-bottom: 15px;
                border-bottom: 2px solid $colorText;
                margin-bottom: 60px;
            }
            .functional_prices__cards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 1280px) {
                    flex-wrap: wrap; 
                    justify-content: center;
               }
                .functional_card {
                    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.63);
                    width: 500px;
                    min-width: 300px;
                    &:nth-child(1) {
                        margin: 0;
                    }
                    &:nth-child(2) {
                        margin: 0 50px 0 50px;
                        @media (max-width: 1280px) {
                            margin: 20px;
                        }
                    }
                    &:nth-child(3) {
                        margin: 0;
                    }
                    .functional_card__img {
                        width: 100%;
                        height: 40vh;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-x: center;
                        &.functional_card__img_1 {
                            background-image: url('../../../img/functional/card_1.jpg');
                        }
                        &.functional_card__img_2 {
                            background-image: url('../../../img/functional/card_2.jpg');
                        }
                        &.functional_card__img_3 {
                            background-image: url('../../../img/functional/card_3.jpg');
                        }
                        @media (max-width: 420px) {
                            height: 35vh;
                        }
                    }
                    .functional_card__discription {
                        padding: 60px 80px;
                        font-size: 2rem;
                        background-color: $colorFone;
                        text-align: center;
                        line-height: 50px;
                        .functional_card__num {
                            font-family: Gilroy-Bold;
                            background-image: url('../../../img/ems/Vector.svg');
                            background-repeat: no-repeat;
                            background-position: 30px -3px;
                            padding: 15px 0;
                        }
                        .functional_card__cost {
                            font-family: Gilroy-Bold;
                        }
                        .functional_card__one_session {
                            font-family: Gilroy-Bold;
                            background: linear-gradient(-90deg, #3A3A3A 0%, #FFFFFF 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .functional {
        .functional_prices {
            .functional_prices__inner {
                .functional_prices__cards {
                    .functional_card {
                        width: 500px;
                        min-width: 300px;
                        &:nth-child(2) {
                            margin: 20px 0;
                         }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .functional {
        .functional_prices {
            .functional_prices__inner {
                .functional_prices__cards {
                    .functional_card { 
                        min-width: none;
                        .functional_card__discription {
                            padding: 20px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}