.massage {
    .massage_start {
        width: 100vh;
        height: 100%;
        // display: flex;
        // align-items: center;
        
        .massage_start__promo {
            width: 45%;
            right: 0;
            justify-content: center;
            height: 100vh;
            @media (max-width: 1600px) {
                width: 70%;
                background-color: rgba(255, 250, 250, 0.493);
                
            }
            @media (max-width: 1280px) {
                width: 100%;
                padding: 200px 100px;
                background-color: rgba(255, 250, 250, 0.493);
            }
            float: right;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            .massage_start__title {
                font-size: 5.5rem;
                font-family: Gilroy-Bold;
                margin-bottom: 50px;
                text-align: center;
            }
            .massage_start__discription {
                font-size: 1.5rem;
                text-align: center;
                line-height: 35px;
                margin-bottom: 50px;
            }
            .massage_start__king-btn {
                cursor: pointer;
                padding: 25px 120px;
                color: #fff;
                border-radius: 40px;
                font-size: 1.5rem;
                font-family: Gilroy-Bold;
                background: linear-gradient(180.07deg, rgba(221, 96, 137, 1) 1.78%, rgba(247, 185, 151, 1) 99.99%);
                @media (max-width: 767px) {
                    padding: 25px 120px;
                    font-size: 1.2rem;
                    margin: 0 10px;
                } 
                @media (max-width: 420px) {
                    padding: 20px 50px;
                } 
                
            }
        }
    }
    
}

@media (max-width: 960px) {
    .massage {
        .massage_start { 
            .massage_start__promo {
                padding: 100px 50px 50px 50px;
                .massage_start__title {
                    font-size: 3rem;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                .massage_start__discription {
                    font-size: 1.2rem;
                    line-height: 30px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .massage {
        .massage_start {
            .massage_start__promo {
                padding: 100px 20px 50px 20px;
                .massage_start__title {
                    margin-bottom: 15px;
                }
                .massage_start__discription {
                    font-size: 1.2rem;
                    line-height: 30px; 
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .massage {
        .massage_start {
            .massage_start__promo {
                padding: 100px 10px 50px 10px;
                .massage_start__title {
                    font-size: 2rem;
                    margin-bottom: 15px;
                }
                .massage_start__discription {
                    font-size: 1rem;
                    line-height: 30px; 
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}



.massage {
    
    .massage_advantage {
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 70%;
        background-image: url('../../../img/massage/advantage.jpg');
        background-color: rgba(36, 34, 34, 0.849);
        box-shadow: 0 150px 200px inset #000;

        .massage_advantage__inner {
            padding: 100px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 960px) {
                padding: 50px 0px;
            }
            @media (max-width: 420px) {
                padding: 50px 0;
            }
            .massage_advantage__title {
                font-family: Gilroy-Bold;
                font-size: 36px;
                padding-bottom: 10px;
                border-bottom: 3px solid #fff;
                margin-bottom: 70px;
                @media (max-width: 420px) {
                    margin-bottom: 20px;
                }
            }
            .massage_advantage__list {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: nowrap;
                width: 100%;
                @media (max-width: 1280px) {
                    overflow: hidden;
                    overflow-x: scroll;
                    min-width: 100%;
                    justify-content: flex-start;
                }
                .massage_advantage__item {
                    
                    margin: 20px 10px 50px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 300px;
                    img {
                        max-width: 80px;
                    }
                    @media (max-width: 960px) {
                        min-width: 40vh;
                        margin: 0 10%;
                    }
                    @media (max-width: 420px) {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                    img {
                        padding-bottom: 40px;
                        @media (max-width: 420px) {
                            padding-bottom: 20px;
                        }
                    }
                    p {   
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}




.massage_price {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    .massage_price__inner {
        width: 50%;
        padding: 100px;
        @media (max-width: 1140px) {
            padding: 50px
        }
        @media (max-width: 960px) {
            width: 100%;
            padding-bottom: 100px;
        }
        @media (max-width: 420px) {
            padding: 50px 10px 100px 10px;
            height: 100%;
        }
        .massage_price__title {
            font-size: 46px;
            padding-bottom: 15px;
            border-bottom: 3px solid #000;
            font-family: Gilroy-Bold;
            margin-bottom: 50px;
        }
        .massage_price__content {
            font-size: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 50px;
            p {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid #C5C5C5;
                padding: 10px 0 20px 0;
                span {
                    margin-left: 10px;
                }
            }
            @media (max-width: 420px) {
                font-size: 1.2rem;
            }
        }
    }
    .massage_price__img {
        background-image: url('../../../img/massage/For\ him.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        @media (max-width: 960px) {
            display: none;
        }
    }

}