@import './home/HomeBeauty.scss';
@import './dipilation/Dipilation.scss';
@import './massage/Massage.scss';
@import './cosmetology/Cosmetology.scss';

.beauty {
    background-color: #FFF;
    color: #000;
}