





$colorFone: #000;
$colorText: #fff;



.wrapper {
    width: 100%;
    height: 100%;
    background-color: $colorFone;
    .fone {
        background-color: #fff;
        animation: showFone 1s ease;
        opacity: 1;
        width: 100%;
        display: flex;
        overflow: hidden;
        .logo {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            img {
                max-width: 500px;
            }
        }
        .fone__left {
            background-image: url('../../img/fone-left.jpg');
            width: 100%;
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 0;          
            font-family: 'Gilroy-Bold';
           
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            filter: blur(5px);
            &:hover,  &:active  {
                filter: blur(0);
                width: 110%;
                transition: all 1s ease 0s;
                .fit-zone {
                    animation: showText 1s ease;
                    opacity: 1;
                }
            }
           
            .fit-zone {
                font-family: 'Gilroy-Bold';
                margin: 5rem 1rem;
                font-size: 5rem;
                color: #fff;
                
                text-transform: uppercase;
                text-shadow: 5px 5px 8px #000;
                opacity: 0;
                cursor: pointer;
            }
        }
    
        .fone__right {
           
            background-image: url('../../img/fone-right.jpg');
            width: 100%;
            min-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            filter: blur(5px);
            &:hover,  &:active  {
                width: 110%;
                filter: blur(0);
                transition: all 1s ease 0s;
                .beauty-zone {
                    animation: showText 1s ease;
                    opacity: 1;
                }
               
            }
            .beauty-zone {
                font-family: 'Gilroy-Bold';
                margin: 5rem 1rem;
                font-size: 5rem;
                color: #000;
                text-transform: uppercase;
                text-shadow: 5px 5px 8px #000;
                opacity: 0;
                cursor: pointer;
                
            }
        }
    }
}

@media (max-width: 747px) {
    .wrapper {

        .fone {
            flex-direction: column;
            
            
            .fone__left {
                min-height: 50vh;
                max-height: 50vh;
                align-items: flex-start;
                justify-content: flex-end;
                background-position: 20% 20%;
                filter: blur(0);
                .fit-zone {
                    animation: showText 1s ease;
                    opacity: 1;
                    margin: 30px;
                    font-size: 4rem;
                }
                .logo__left {
                    display: none;
                }
            }
            .fone__right {
                min-height: 50vh;
                max-height: 50vh;
                align-items: flex-start;
                justify-content: flex-end;
                background-position: 20% 15%;
                filter: blur(0);
                .beauty-zone {
                    animation: showText 1s ease;
                    opacity: 1;
                    margin: 30px;
                    font-size: 4rem;
                }
                .logo__right {
                    display: none;
                }
                
            }
        }
    }
}






.about {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
    .about__inner_one {
        background-image: url('../../img/about/About.png');
        background-repeat: no-repeat;
        background-position: 100px 50px;
        background-size: 37%;
        padding: 100px;
        background-color: $colorFone;
        display: flex;
        justify-content: space-between;
        .about__text {
            padding-right: 20px;
            color: $colorText;
            font-size: 1.5rem;
            .about__title {
                font-size: 5rem;
                font-family: 'Gilroy-Bold';
                margin-bottom: 40px;
                padding: 10px;
                border-bottom: 2px solid $colorText ;
            }
            .about__discription {

            }
        }
        .about__slider {
            max-width: 50%;
            padding-left: 20px;
        }
    }
}
@media (max-width: 1280px) {
    .about {
        
       .about__inner_one {
            padding: 50px;
            flex-direction: column;
            background-size: 100%;
            background-position: center top;
            .about__text {
                padding-bottom: 20px;
                width: 100%;
            }
            .about__slider {
                max-width: 100%;
                padding: 0;
                padding-top: 20px;
            }
       } 
    }
}



@media (max-width: 747px) {
    .about {
        .about__inner_one {
            
            .about__text {
                padding-bottom: 20px;
            }
            .about__slider {
                max-width: 100%;
                padding: 0;
                padding-top: 20px;
            }
        }
        
    }
}
@media (max-width: 420px) {
    .about {
        .about__inner_one {
            padding: 10px;
            .about__text {
                padding-bottom: 20px;
                width: 100%;
                font-size: 1.2rem;
                .about__title {
                    margin-bottom: 20px;
                    font-size: 2rem;
                }
            }
            .about__slider {
                max-width: 100%;
                padding: 0;
                padding-top: 20px;
            }
        }
    }
}













@keyframes showText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showFone {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}