$colorFone: #1f1f1f;
$colorText: #fff;



@mixin foneBlock ($url) {
  background-image: $url;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  font-family: "Gilroy-Bold";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  filter: blur(5px);
}

@mixin activeBlock () {
  filter: blur(0);
  width: 110%;
  transition: all 1s ease 0s;
}

@mixin titleStyle ($color, $shadow: 5px 5px 8px $colorFone) {
  font-family: "Gilroy-Bold";
  margin: 5rem 1rem;
  font-size: 5rem;
  color: $color;
  text-transform: uppercase;
  text-shadow: 5px 5px 8px $colorFone;
  opacity: 0;
  cursor: pointer;
}



.wrapper {
  width: 100%;
  height: 100%;
  background-color: $colorText;
  .fone {
    animation: showFone 1s ease;
    opacity: 1;
    width: 100%;
    display: flex;
    overflow: hidden;

    .fone__left {
      @include foneBlock(url("../../img/fone-left.jpg"));
      &:hover,
      &:active {
        @include activeBlock();
        .fit-zone {
          animation: showText 1s ease;
          opacity: 1;
        }
      }

      .fit-zone {
        @include titleStyle(#fff)
      }
    }

    .fone__right {
      @include foneBlock(url("../../img/fone-right.jpg"));
      &:hover,
      &:active {
        @include activeBlock();
        .beauty-zone {
          animation: showText 1s ease;
          opacity: 1;
        }
      }
      .beauty-zone {
        @include titleStyle($colorFone, $shadow: 5px 5px 8px #fff)
      }
    }
    .fone__medium {
      @include foneBlock(url("../../img/fone-left.jpg"));
      &:hover,
      &:active {
        @include activeBlock();
        .team-zone {
          animation: showText 1s ease;
          opacity: 1;
        }
      }
      .team-zone {
        @include titleStyle(#FFF)
      }
    }
  }
}

@media (max-width: 747px) {
  .wrapper {
    .fone {
      flex-direction: column;
      .fone__left, .fone__medium, .fone__right {
        min-height: 50vh;
        max-height: 50vh;
        align-items: flex-start;
        justify-content: flex-end;
        background-position: 20% 20%;
        filter: blur(0);
        .fit-zone, .team-zone, .beauty-zone {
          animation: showText 1s ease;
          opacity: 1;
          margin: 30px;
          font-size: 4rem;
        }
      }
    }
  }
}



@keyframes showText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showFone {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}