.stretching {

    .stretching__fone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .stretchind__vidio {
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #000;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        .stretching__promo {
            width: 40%;
            background-image: url('../../../img/stretching/BMS-Stretching.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            animation: showPromoStretching 2s ease;
            background-color: rgba($color: #000000, $alpha: .5);
            @media (max-width: 1800px) {
                width: 50%;
            }
            @media (max-width: 1280px) {
                width: 60%;
            }
            .stretching__promo_inner {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .stretching__title {
                    font-size: 4.5rem;
                    font-family: Gilroy-Bold;
                    letter-spacing: 20px;
                    margin-bottom: 50px;
                    text-align: center;
                    @media (max-width: 1280px) {
                        font-size: 3.5rem;
                    }
                }
                .stretching__discription {
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 40px;
                    margin-bottom: 110px;
                    
                }
                .stretching__king_btn {
                    cursor: pointer;
                    padding: 25px;
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: Gilroy-Bold;
                    background: linear-gradient(90deg, #DD5E89 0%, #F7BB97 100%);
                    &:hover {

                    }
                }
            }
        }
    }


}


@media (max-width: 960px) {
    .stretching {
        .stretching__fone {

            .stretching__promo {
               
                width: 70%;
                .stretching__promo_inner {
                    padding: 50px;
                    .stretching__title {
                        font-size: 2.5rem;
                        margin: 0 0 50px 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .stretching {
        .stretching__fone {

            .stretching__promo {
                width: 100%;
                .stretching__promo_inner {
                    padding: 30px;
                    .stretching__title {
                        font-size: 2rem;
                        letter-spacing: 15px;
                        margin: 0 0 40px 20px;
                    }
                    .stretching__discription {
                        font-size: 1.2rem;
                        line-height: 30px;
                    }
                    .stretching__king_btn {
    
                    }
                }
               
            }
        }
    }
}
@media (max-width: 420px) {
    .stretching {
        .stretching__fone {

            .stretching__promo {
                
                .stretching__promo_inner {
                    padding: 0;
                    .stretching__title {
                        font-size: 1.5rem;
                        letter-spacing: 15px;
                        margin: 0 0 50px 15px;
                    }
                    .stretching__discription {
                       
                        margin-bottom: 40px;
                    }
                    .stretching__king_btn {
                        padding: 15px;
                        font-size: 1rem;
                    }
                }
                
            }
        }
    }
}

@keyframes showPromoStretching {
    0% {
        opacity: 0;
        margin-right: -500px;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}


.stretching_about {
    width: 100%;
    height: 100%;
    
    .stretching_about__inner {
        padding: 100px 80px;
       
        .stretching_about__menu {
            display: flex;
            width: 50%;
            justify-content: space-between;
            @media (max-width: 1800px) {
                width: 70%;
            }
            .stretching_about__menu_title {
                font-size: 38px;
                font-family: Gilroy-Bold;
                padding-bottom: 15px;
                margin-bottom: 50px;
                opacity: .7;
                cursor: pointer;
                &.active {
                    border-bottom: 3px solid #fff;
                    opacity: 1;
                }
            }
        }

        .stretching_about__list {

            .stretching_about__block {
                display: none;
                &.active {
                    
                    display: flex;
                    align-items: center;
                    .stretching_about__vid {
                        min-width: 50%;
                        animation: stretchingShowBlockImg .5s ease;
                       img {
                            width: 100%;
                       }
                    }
                    .stretching_about__text {
                        animation: stretchingShowBlockText 1s ease;
                        font-size: 1.5rem;
                        margin-right: 30px;
                        
                        p {
                            margin-bottom: 20px;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1280px) {
    .stretching_about {
        height: 100%;
        .stretching_about__inner {
            padding: 50px 35px;
            .stretching_about__menu {
                width: 100%;
                .stretching_about__menu_title {

                }
            }
            .stretching_about__list {
             
                    .stretching_about__block {
                        &.active {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .stretching_about__vid {
                                margin-top: 30px;
                            }
                            .stretching_about__text {
                                font-size: 1.5rem; 
                                
                            }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .stretching_about {

        .stretching_about__inner {
            padding: 50px 0;
            .stretching_about__menu {
                width: 100%;
                .stretching_about__menu_title {
                    font-size: 1.5rem;
                    margin-bottom: 30px;
                }
            }
            .stretching_about__list {
             
                    .stretching_about__block {
                        &.active {
                            .stretching_about__vid {
                                img {
                                    width: 100%;
                                }
                            }
                            .stretching_about__vid {
                               
                            }
                            .stretching_about__text {
                                font-size: 1.5rem; 
                                
                            }
                    }
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .stretching_about {

        .stretching_about__inner {
            padding: 30px 0;
            .stretching_about__menu {
                flex-direction: column;
            }
            .stretching_about__list {
             
                    .stretching_about__block {
                        &.active {
                            .stretching_about__vid {
                                margin-top: 30px;
                                display: none;
                            }
                           
                            .stretching_about__text {
                                font-size: 1.2rem; 
                                
                            }
                    }
                }
            }
        }
    }
}


@keyframes stretchingShowBlockImg {
    0% {
        margin-right: -1000px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@keyframes stretchingShowBlockText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}







.stretching { 
    position: relative;
    .stretching_prices {
        box-shadow: 0 100px 300px inset #000;
        width: 100%;
        height: 100%;
        background-image: url('../../../img/stretching/price_fone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        .stretching_prices__inner {
            padding: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 1280px) {
                 padding: 100px 0; 
            }
            .stretching_prices__title {
                display: block;
                font-size: 2.5rem;
                font-family: Gilroy-Bold;
                padding-bottom: 15px;
                border-bottom: 2px solid $colorText;
                margin-bottom: 60px;
            }
            .stretching_prices__cards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 1280px) {
                    flex-wrap: wrap; 
                    justify-content: center;
               }
                .stretching_card {
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
                    width: 500px;
                    min-width: 300px;
                    &:nth-child(1) {
                        margin: 0;
                    }
                    &:nth-child(2) {
                        margin: 0 50px 0 50px;
                        @media (max-width: 1280px) {
                            margin: 20px;
                        }
                    }
                    &:nth-child(3) {
                        margin: 0;
                    }
                    .stretching_card__img {
                        width: 100%;
                        height: 40vh;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.stretching_card__img_1 {
                            background-image: url('../../../img/stretching/card_1.jpg');
                        }
                        &.stretching_card__img_2 {
                            background-image: url('../../../img/stretching/card_2.jpg');
                        }
                        &.stretching_card__img_3 {
                            background-image: url('../../../img/stretching/card_3.jpg');
                        }
                        @media (max-width: 420px) {
                            height: 35vh;
                        }
                    }
                    .stretching_card__discription {
                        padding: 60px 80px;
                        font-size: 2rem;
                        background-color: $colorFone;
                        text-align: center;
                        line-height: 50px;
                        .stretching_card__num {
                            font-family: Gilroy-Bold;
                            background-image: url('../../../img/ems/Vector.svg');
                            background-repeat: no-repeat;
                            background-position: 30px -3px;
                            padding: 15px 0;
                        }
                        .stretching_card__cost {
                            font-family: Gilroy-Bold;
                        }
                        .stretching_card__one_session {
                            font-family: Gilroy-Bold;
                            background: linear-gradient(-90deg, #3A3A3A 0%, #FFFFFF 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .stretching {
        .stretching_prices {
            .stretching_prices__inner {
                .stretching_prices__cards {
                    .stretching_card {
                        width: 500px;
                        min-width: 300px;
                        &:nth-child(2) {
                            margin: 20px 0;
                         }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .stretching {
        .stretching_prices {
            .stretching_prices__inner {
                .stretching_prices__cards {
                    .stretching_card { 
                        min-width: none;
                        .stretching_card__discription {
                            padding: 20px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

.stretching {
    
    .stretching_advantage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 70%;
        box-shadow: 0 50px 150px inset #000;
        background-image: url('../../../img/stretching/adv_fone.jpg');
        box-shadow: 50px -50px  200px inset #D2CCCC;
        @media (max-width: 420px) {
            // background-image: none
        }

        .stretching_advantage__inner {
            padding: 100px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

           
            @media (max-width: 767px) {
                padding: 50px 35px;
            }
          
            @media (max-width: 420px) {
                padding: 50px 0;
            }

            .stretching_advantage__title {
                font-family: Gilroy-Bold;
                font-size: 36px;
                padding-bottom: 10px;
                border-bottom: 3px solid #fff;
                margin-bottom: 70px;
                @media (max-width: 420px) {
                    margin-bottom: 20px;
                    
                }
            }
            .stretching_advantage__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                width: 100%;
                @media (max-width: 1280px) {
                    overflow: hidden;
                    overflow-x: scroll;
                    
                    min-width: 100%;
                    justify-content: flex-start;
                }
                .stretching_advantage__item {
                    width: 250px;
                    margin: 20px 20px 50px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 420px) {
                        width: 100%;
                        margin: 0 30%;
                    }
                    img {
                        padding: 40px;
                        @media (max-width: 420px) {
                            padding: 20px;
                        }
                    }
                    p {
                        font-family: Gilroy-Bold;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}



.stretching {
    .stretching_res {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        overflow: hidden;
        @media (max-width: 1280px) {
            flex-direction: column;
        }
        .stretching_res__inner {
            padding: 100px;
            width: 50%;
            background-image: url('../../../img/Reviews.png');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 50px;
            background-size: 100%;
            @media (max-width: 1280px) {
                width: 100%;
            }
            @media (max-width: 960px) {
                padding: 50px;
            }
            @media (max-width: 420px) {
                padding: 50px 10px 30px 10px;
            }
            .stretching_res__title {
                font-size: 3rem;
                font-family: Gilroy-Bold;
                margin-bottom: 35px;
                padding-bottom: 15px;
                border-bottom: 2px solid #fff;
            }
            .stretching_res__text {
                font-size: 1.5rem;
                line-height: 35px;
                @media (max-width: 420px) {
                    font-size: 1.2rem;
                    line-height: 30px;
                }
            }
        }
        .stretching_res__slider {
            width: 50%;
            height: 100%;
            @media (max-width: 1280px) {
                width: 100%;
            }
            .stretching_res__back {
                min-height: 60vmax;
               background-size: cover;
                &.img_1 {
                    background-image: url('../../../img/stretching/before_after_1.jpg'); 
                }
                &.img_2 {
                    background-image: url('../../../img/stretching/before_after_2.jpg'); 
                }
                // &.img_3 {
                //     background-image: url('../../../img/stretching/before_after_3.jpg'); 
                // }
            }
        }
    }
}










