.logo {
}

$colorText: #000;
$colorFone: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 145.74%);

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  animation: showHeader 1s ease;
  opacity: 1;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: $colorFone;
    z-index: 2;
  }
  .header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    .header__burger {
      display: none;
    }
    .header__menu {
      width: 50%;
      z-index: 3;
      position: relative;

      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      white-space: nowrap;
      align-items: center;
      .header__items {
        font-family: "Gilroy-Bold";
        z-index: 3;
        position: relative;
        color: $colorText;
        text-shadow: 5px 5px 8px $colorFone;
        margin: 0 10px 0 0;
        &:hover {
          background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #dd5e89;
          border-bottom: 2px solid #dd5e89;
          transition: padding-bottom 0.3s ease 0.1s;
          padding-bottom: 10px;
        }
      }
    }
    .header__logo {
      z-index: 3;
      margin: 5px 50px;
      flex: 0 0 70px;
      img {
        max-width: 100%;
        display: block;
        &:hover {
          transition: .3s transform;
          filter: drop-shadow(0px 1px 25px rgba(0, 0, 0, 0.14));
          transform: translate(-5%, -5%);
          transform: scale(1.1);
        }
      }
    }
    .header__contacts {
      z-index: 3;
      position: relative;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      .header__number {
        font-family: "Gilroy-Bold";
        color: $colorText;
        margin: 0 0 0 10px;
        text-shadow: 5px 5px 8px $colorFone;
        &:hover {
          background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #dd5e89;
          border-bottom: 2px solid #dd5e89;
          transition: padding-bottom 0.3s ease 0.1s;
          padding-bottom: 10px;
        }
      }
      .header__btn {
        font-family: "Gilroy-Bold";
        color: $colorText;
        text-shadow: 5px 10px 10px $colorFone;
        margin: 0 0 0 10px;
        padding: 10px;
        background-color: #fffdfd00;
        border: 1px solid #000;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          color: #fff;
          background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 100%);
          transition: all 0.7s ease 0.1s;
          border: none;
          animation: showBackground 1s ease;
        }
      }
      .header__links {
        display: flex;
        .header__link {
          flex: 0 0 35px;
          min-width: 35px;
          min-height: 35px;
          background-repeat: no-repeat;
          margin: 0 0 0 10px;
          background-size: 100%;
          background-position: center;
        }
        .instagram {
          background-image: url("../../img/Instagram_beauty.svg");
        }
        .whatsapp {
          background-image: url("../../img/WhatsApp_beauty.svg");
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
    background: $colorFone;
    .header__inner {
      //LOGO
      .header__logo {
        margin: 5px 0;
        flex: 0 0 50px;
      }
      //BURGER ICON
      height: 60px;
      .header__burger {
        position: relative;
        width: 35px;
        height: 30px;
        display: block;
        z-index: 3;
        span {
          top: 13px;
          position: absolute;
          background-color: $colorText;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
        }
        &::before,
        &::after {
          content: "";
          background-color: $colorText;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        &.active {
          &::before {
            transform: rotate(45deg);
            top: 14px;
          }
          &::after {
            transform: rotate(-45deg);
            bottom: 14px;
          }
          span {
            display: none;
          }
        }
      }
      //MENU close
      .header__menu,
      .header__contacts {
        display: none;
      }
      //MENU open
      .header__menu {
        &.active {
          animation: showHeader 0.5s ease;
          overflow: auto;
          font-size: 1.5rem;
          top: 4%;
          margin-left: -20px;
          width: 104%;
          height: 100%;
          position: fixed;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          z-index: 1;
          .header__items {
            margin: 20px 10px;
            &:first-child {
              padding-top: 40px;
            }
            &:last-child {
              padding-bottom: 30px;
            }
            &:hover {
              border: none;
              transition: none;
            }
          }
        }
      }
      .header__contacts {
        &.active {
          animation: showHeader 0.5s ease;
          justify-content: center;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 30vh;
          position: fixed;
          background-color: #fff;
          right: 0;
          z-index: 1;
          .header__number {
            margin: 10px;
          }
          .header__btn {
            margin: 0 10px 60px 10px;
          }
          .header__links {
            display: none;
          }
        }
      }
    }
  }
}

@keyframes showHeader {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBackground {
}
