// //button
// .action-btn {
//     cursor: pointer;
//     font-family: Arial, Helvetica, sans-serif;
//     position: relative;
//     display: inline-block;
//     background-color: #fff;

//     &::before, &::after {
//         content: '';
//         position: absolute;
//         width: 50px;
//         height: 50px;
//         border: 2px solid #494949;
//         top: -10px;
//         left: 50%;
//         z-index: 1;
//         margin-left: -40px ;
//         transition: all .8s ease 0s;
       
//     }
//     &::before {
//         animation: btnRotate 20s infinite linear;
//     }
//     &::after {
//         animation: btnRotate 30s infinite linear;
//     }

//     &:hover::before, &:hover::after {
//         left: 100%;
//         opacity: 0;
//     }
//     &:hover .btn-text::before {
//         width: 100%;
//     }
//     &:hover .btn-text::before, &:hover .btn-text::after {
//         background-color: #494949;
//     }

//     &:hover .btn-text {
//         box-shadow: 0 5px 0px 0 #1f1f1f;
//         top: -5px;
//         color: #fff;
//         transition: all .5s ease .2s;
        
//     }
//     &:active .btn-text {
//         box-shadow: 0 2px 0px 0 #1f1f1f;
//         top: -2px;
//         color: #fff;
//         transition: all .2s ease 0s;
//     }

    

//     .btn-text {
//         position: relative;
//         height: 30px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 0 10px;
//         font-size: 1rem;
//         text-transform: uppercase;
//         color: rgba($color: #000000, $alpha: .3);
//         letter-spacing: 6px;
//         transition: all 1s ease 0s;
//         top: 0;
//         border-radius: 50px;
        
//         &::before, &::after {
           
//             content: '';
//             position: absolute;
//             width: 50%;
//             height: 100%;
//             background-color: #fff;
//             transition: all .8s ease 0s;
//             border-radius: 50px;
//         }
//         &::before {
//             left: 0;
//             z-index: 2;
            
           
//         }
//         &::after {
//             right: 0;
           
//         }
//         span {
//             position: relative;
//             z-index: 2;
            
//         }
//     }
    
// }
// @keyframes btnRotate {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }

// }
