@font-face {
	font-family: "Gilroy";
	src: url("../img/fonts/10177.eot");
	src: local("☺"), url("../img/fonts/10177.woff") format("woff"), url("../img/fonts/10177.ttf") format("truetype"),
		url("../img/fonts/10177.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-Bold";
	src: url("../img/fonts/gilroy-bold.eot");
	src: local("☺"), url("../img/fonts/gilroy-bold.woff") format("woff"),
		url("../img/fonts/gilroy-bold.ttf") format("truetype"), url("../img/fonts/gilroy-bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}


