
@font-face {
	font-family: 'Gilroy';
	src: url('../img/fonts/10177.eot');
	src: local('☺'), url('../img/fonts/10177.woff') format('woff'), url('../img/fonts/10177.ttf') format('truetype'), url('../img/fonts/10177.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../img/fonts/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../img/fonts/Gilroy-ExtraBold.woff') format('woff'), url('../img/fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../img/fonts/Gilroy-ExtraBold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../img/fonts/gilroy-bold.eot');
	src: local('☺'), url('../img/fonts/gilroy-bold.woff') format('woff'), url('../img/fonts/gilroy-bold.ttf') format('truetype'), url('../img/fonts/gilroy-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DancingScript-Bold';
	src: url('../img/fonts/DancingScript-Bold.eot');
	src: local('☺'), url('../img/fonts/DancingScript-Bold.woff') format('woff'), url('../img/fonts/DancingScript-Bold.ttf') format('truetype'), url('../img/fonts/DancingScript-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


