@import 'reset.scss';

@import '../components/base/Base.scss';

@import '../components/beautyZone/Beauty.scss';
@import '../components/fitZone/fit.scss';
@import 'button.scss';
// @import '../components/form/Form.scss';

@import 'font.scss';


//========================================================================








.container {
    max-width: 1920px;
    padding: 0 20px;   
    margin: 0 auto; 
    width: 100%;
    @media (max-width: 1280px) {
        padding: 0 15px;   
    }
    @media (max-width: 767px) {
        max-width: none;
        padding: 0 10px;   
    }
}