@import 'reset.scss';

@import '../components/base/Base.scss';

@import '../components/beautyZone/Beauty.scss';
@import '../components/fitZone/fit.scss';
@import 'button.scss';
@import '../components/form/Form.scss';

@import 'font.scss';


//========================================================================

// body {
//     overflow: hidden;
// }






.container {
    max-width: 1920px;
    padding: 0 20px;   
    margin: 0 auto; 
    
    @media (max-width: 1280px) {
        max-width: 1140px;
        padding: 0 15px;   
    }
    @media (max-width: 767px) {
        max-width: none;
        padding: 0 10px;   
    }
    // @media screen {
    //     min-width: 1800px;
    //     padding: 0 20px;   
    //     margin: 0 auto;
    // }

    // @media screen {
    //    min-width: 1200px; 
    //    padding: 0 20px;   
    // margin: 0 auto;
    // }
    // @media screen {
    //    min-width: 900px; 
    // }
    // @media screen {
    //    min-width: none; 
    // }


}