@import 'reset.scss';

@import '../components/base/Base.scss';
@import '../components/fitZone/fit.scss';
@import 'button.scss';

@import 'font.scss';


//========================================================================








.container {
    max-width: 1920px;
    padding: 0 20px;   
    margin: 0 auto; 
    
    @media screen and (max-width: 1280px) {
        max-width: 1140px;
        // font-size: 80%;
    }
    // @media screen {
    //     min-width: 1800px;
    //     padding: 0 20px;   
    //     margin: 0 auto;
    // }

    // @media screen {
    //    min-width: 1200px; 
    //    padding: 0 20px;   
    // margin: 0 auto;
    // }
    // @media screen {
    //    min-width: 900px; 
    // }
    // @media screen {
    //    min-width: none; 
    // }


}