

    .fight__fone {

        .fight__promo {
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            &.img_1 {
                background-image: url('../../../img/fight/fone_1.jpg');
                background-position-x: 60%;
            }
            &.img_2 {
                background-image: url('../../../img/fight/fone_2.jpg');
                background-position-x: 40%;
            }
            &.img_3 {
                background-image: url('../../../img/fight/fone_3.jpg');
                background-position-x: 80%;
            }
            &.img_4 {
                background-image: url('../../../img/fight/fone_4.jpg');
                background-position-x: 20%;
            }
            &.img_5 {
                background-image: url('../../../img/fight/fone_5.jpg');
                background-position-x: 20%;
            }
            &.img_6 {
                background-image: url('../../../img/fight/fone_6.jpg');
                background-position-x: 10%;
            }
            &.img_7 {
                background-image: url('../../../img/fight/fone_7.jpg');
                background-position-x: 18%;
            }
            .fight__promo_inner {
                width: 40%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                
                box-shadow: 1px 1px 5px #000;
                background-color: rgba($color: #000000, $alpha: .5);
                &.right {
                    float: right;
                }
                @media (max-width: 1800px) {
                    width: 50%;
                }
                @media (max-width: 1140px) {
                    width: 60%;
                }
                @media (max-width: 960px) {
                    width: 70%;
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
                .fight__title {
                    font-size: 5rem;
                    font-family: Gilroy-Bold;
                    margin: 10px 20px 40px 20px;
                    @media (max-width: 767px) {
                        font-size: 2rem;
                        margin: 10px 20px 10px 20px;
                        
                    }
                }
                .fight__discription {
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 40px;
                    margin: 10px 10px 50px 10px;
                    @media (max-width: 767px) {
                        font-size: 1.2rem;
                        line-height: 25px;
                        margin: 10px 10px 10px 10px;
                    }
                }
                .fight__king-btn {
                    cursor: pointer;
                    padding: 25px;
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: Gilroy-Bold;
                    background: #DC3A3E ;
                    &:hover {
                        animation: ems_btn 1s ease;
                        box-shadow: 1px 1px 50px rgb(63, 2, 2) inset;
                    }
                    @media (max-width: 767px) {
                        padding: 15px;
                        font-size: 1.2rem;
                        margin: 0 10px;
                    } 
                    @media (max-width: 420px) {
                        padding: 10px;
                        font-size: 1.2rem;
                        margin: 0 10px;
                    } 
                }
            }
        }
    }




    .fight {
    
        .fight_advantage {
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 70%;
            
            background-image: url('../../../img/fight/advantage.jpg');
            background-color: rgba(36, 34, 34, 0.849);
            box-shadow: 0 150px 200px inset #000;
    
            .fight_advantage__inner {
                padding: 100px 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media (max-width: 960px) {
                    padding: 50px 0px;
                }
                @media (max-width: 420px) {
                    padding: 50px 0;
                }
                .fight_advantage__title {
                    font-family: Gilroy-Bold;
                    font-size: 36px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid #fff;
                    margin-bottom: 70px;
                    @media (max-width: 420px) {
                        margin-bottom: 20px;
                    }
                }
                .fight_advantage__list {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    width: 100%;
                    @media (max-width: 1280px) {
                        overflow: hidden;
                        overflow-x: scroll;
                        min-width: 100%;
                        justify-content: flex-start;
                    }
                    .fight_advantage__item {
                        
                        margin: 20px 10px 50px 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        @media (max-width: 960px) {
                            min-width: 40vh;
                            margin: 0 10%;
                        }
                        @media (max-width: 420px) {
                            min-width: 50vh;
                            margin: 0 5%;
                        }
                        .fight_advantage__subtitle {
                            font-size: 2rem;
                            margin-bottom: 20px;
                            font-family: Gilroy-Bold;
                        }
                        img {
                            padding-bottom: 40px;
                            @media (max-width: 420px) {
                                padding-bottom: 20px;
                            }
                        }
                        p {   
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }







    .fight { 
        position: relative;
        .fight_prices {
            box-shadow: 0 100px 200px inset #000;
            width: 100%;
            background-image: url('../../../img/fight/price_fone.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            .fight_prices__inner {
                padding: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 1280px) {
                     padding: 100px 0; 
                }
                .fight_prices__title {
                    display: block;
                    font-size: 2.5rem;
                    font-family: Gilroy-Bold;
                    padding-bottom: 15px;
                    border-bottom: 2px solid $colorText;
                    margin-bottom: 60px;
                }
                .fight_prices__cards {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width: 1280px) {
                        flex-wrap: wrap; 
                        justify-content: center;
                   }
                    .fight_card {
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
                        width: 500px;
                        min-width: 300px;
                        &:nth-child(1) {
                            margin: 0;
                        }
                        &:nth-child(2) {
                            margin: 0 50px 0 50px;
                            @media (max-width: 1280px) {
                                margin: 20px;
                            }
                        }
                        &:nth-child(3) {
                            margin: 0;
                        }
                        .fight_card__img {
                            width: 100%;
                            height: 40vh;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position-x: center;
                            &.fight_card__img_1 {
                                background-image: url('../../../img/fight/card_1.jpg');
                            }
                            &.fight_card__img_2 {
                                background-image: url('../../../img/fight/card_2.jpg');
                            }
                            &.fight_card__img_3 {
                                background-image: url('../../../img/fight/card_3.jpg');
                            }
                            @media (max-width: 420px) {
                                height: 35vh;
                            }
                        }
                        .fight_card__discription {
                            padding: 60px 80px;
                            font-size: 2rem;
                            background-color: $colorFone;
                            text-align: center;
                            line-height: 50px;
                            .fight_card__num {
                                font-family: Gilroy-Bold;
                                background-image: url('../../../img/ems/Vector.svg');
                                background-repeat: no-repeat;
                                background-position: 30px -3px;
                                padding: 15px 0;
                            }
                            .fight_card__cost {
                                font-family: Gilroy-Bold;
                            }
                            .fight_card__one_session {
                                font-family: Gilroy-Bold;
                                background: linear-gradient(-90deg, #3A3A3A 0%, #FFFFFF 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 767px) {
        .fight {
            .fight_prices {
                .fight_prices__inner {
                    .fight_prices__cards {
                        .fight_card {
                            width: 500px;
                            min-width: 300px;
                            &:nth-child(2) {
                                margin: 20px 0;
                             }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 420px) {
        .fight {
            .fight_prices {
                .fight_prices__inner {
                    .fight_prices__cards {
                        .fight_card { 
                            min-width: none;
                            .fight_card__discription {
                                padding: 20px;
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    




