
.modal {
   

    
    
    .modal__overlay {
        
        z-index: 1000;
        position: relative;

        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);

        animation: showModal 1s ease;
        opacity: 1;
    
        
        .modal__window {
               
                width: 800px;
                min-height: 300px;
                background-color: #000;
                margin: 15% auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: Geneva, Tahoma, sans-serif;
                box-shadow: 0 0 10px 5px #292929;
                animation: showModalWindow .5s ease;
            

            .modal__form {
                padding: 50px;
                display: flex;
                flex-direction: column;
                
                .modal__input {
                    color: #fff;
                    background-color: #000;
                    border-bottom: 2px solid #fff;
                    padding: 15px;
                   
                    &:hover {
                       
                        transition: all 1s ease;
                    }
                    &.alert {
                        border-bottom: 2px solid red;
                        &::placeholder {
                            color: red;
                        }
                    }
                }

                .modal__action {
                    cursor: pointer;
                    padding: 20px;
                    background-color: #000;
                    border: 2px solid #fff;
                    color: #fff;
                    margin: 30px 0;
                    text-transform: uppercase;
                    font-family: Gilroy-Bold;
                    white-space: nowrap;
                    &:hover {
                        
                        background-color: #fff;
                        color: #000;
                        transition: all 1s ease;
                    }
                }
            }
        }
    }
}




@keyframes showModal {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .6);
    }
}
@keyframes showModalWindow {
    0% {
        width: 0px;
    }
    100% {
        width: 800px;
    }
}