$colorFone: #000;
$colorText: #fff;
$colorAlert: #f70202;
$colorShadow: #292929;
$background: rgba(0, 0, 0, 0.6);

.modal {
  .modal__overlay {
    z-index: 1000;
    position: relative;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background;

    animation: showModal 1s ease;
    opacity: 1;

    .modal__window {
      padding: 10px;
      max-width: 800px;
      min-height: 300px;
      background-color: $colorFone;
      margin: 20vh auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Geneva, Tahoma, sans-serif;
      box-shadow: 0 0 10px 5px $colorShadow;
      animation: showModalWindow 0.5s ease-in;
      .modal__title {
        width: 185px;
        margin: 35px auto;

        img {
          width: 100%;
        }
      }
      .modal__subtitle {
        font-size: 1.2rem;
        color: $colorAlert;
        text-align: center;
      }

      .modal__form {
        padding: 0 50px 30px 50px;
        display: flex;
        flex-direction: column;
        @media (max-width: 420px) {
          padding: 30px;
        }
        .modal__input {
          color: $colorText;
          background-color: $colorFone;
          border-bottom: 2px solid $colorText;
          padding: 15px;

          &:hover {
            transition: all 1s ease;
          }
          &.alert {
            border-bottom: 2px solid $colorAlert;
            &::placeholder {
              color: $colorAlert;
            }
          }
        }

        .modal__action {
          cursor: pointer;
          padding: 20px;
          background-color: $colorFone;
          border: 2px solid $colorText;
          color: $colorText;
          margin: 30px 0;
          text-transform: uppercase;
          font-family: Gilroy-Bold;
          white-space: nowrap;
          &:hover {
            background-color: $colorText;
            color: $colorFone;
            transition: all 1s ease;
          }
        }
      }
    }
  }
}

@keyframes showModal {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: $background;
  }
}
@keyframes showModalWindow {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 800px;
  }
}
