.workout {
    background-image: url('../../../img/workout/shutterstock_1331119235.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    .workout__fone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%; 
        .workout__promo {
            width: 40%;
            top: 0;
            left: 0;
            z-index: 0;
            position: relative;
            animation: showPromo 2s ease;
            @media (max-width: 1280px) {
                width: 50%;
            }
            .workout__promo_inner {
                height: 100vh;
                padding: 0 20px 20px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                .workout__title {
                    font-size: 3rem;
                    font-family: Gilroy-Bold;
                    text-align: center;
                    margin-bottom: 30px;
                }
                .workout__discription {
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 30px;
                    margin-bottom: 60px; 
                }
                .workout__king_btn {
                    cursor: pointer;
                    padding: 25px;
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: Gilroy-Bold;
                    box-shadow: 0 0 40px 2px #000;
                    background: linear-gradient(87.83deg, #0084D3 0%, #CC2B5E 97.5%);
                    &:hover {
                        animation: workout_btn 1.5s ease;
                        box-shadow: 1px 1px 50px rgb(80, 7, 109) inset;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .workout {
        .workout__fone {
            .workout__promo {
                width: 70%;
                .workout__promo_inner {
                    .workout__title {
                        margin: 0 0 20px 20px;;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .workout {
        .workout__fone {
            background-position: 50% center;
            background-size: contain;
            .workout__promo {
                width: 100%;
                .workout__promo_inner {
                    padding: 0 20px;
                    .workout__title {
                        font-size: 2.5rem;
                        margin: 0 0 20px 20px;
                    }
                    .workout__discription {
                        font-size: 1.2rem;
                        line-height: 30px;
                    }
                    .workout__king_btn {
                        font-size: 1rem;
                    }
                }
               
            }
        }
    }
}
@media (max-width: 420px) {
    .workout {
        .workout__fone {
            .workout__promo {
                width: 100%;
                .workout__promo_inner {
                    .workout__title {
                        margin-top: 30px;
                        font-size: 1.7rem;
                        margin-bottom: 15px;
                    }
                    .workout__discription { 
                        font-size: 1.2rem;
                        line-height: 25px;
                        margin-bottom: 20px;
                    }
                    .workout__king_btn {
                        padding: 15px;
                        font-size: 1.2rem;
                    }
                }  
            }
        }
    }
}

@keyframes workout_btn {
    0% {
        box-shadow: 0 0 30px 10px #000;
    }
    25% {
        box-shadow: 0 0 0 0 #000;
    }
    50% {
        box-shadow: 0px 0px 0px rgb(80, 7, 109) inset;
    }
    100% {
        box-shadow: 1px 1px 50px rgb(80, 7, 109) inset;
    }
}





.workout { 
    position: relative;
    .workout_prices {
        width: 100%;
        .workout_prices__inner {
            padding: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 1280px) {
                 padding: 100px 0; 
            }
            .workout_prices__title {
                display: block;
                font-size: 2.5rem;
                font-family: Gilroy-Bold;
                padding-bottom: 15px;
                border-bottom: 2px solid $colorText;
                margin-bottom: 60px;
            }
            .workout_prices__cards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                @media (max-width: 1280px) {
                    flex-wrap: wrap; 
                    justify-content: center;
               }
                .workout_card {
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.63);
                    
                    width: 500px;
                    min-width: 300px;

                    &:nth-child(1) {
                        margin: 0;
                    }
                    &:nth-child(2) {
                        margin: 0 50px 0 50px;
                        @media (max-width: 1280px) {
                            margin: 20px;
                        }
                    }
                    &:nth-child(3) {
                        margin: 0;
                    }
                    .workout_card__img {
                        box-shadow: 0 70px 150px inset rgba(65, 3, 61, 0.747);
                        width: 100%;
                        height: 40vh;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-x: center;
                        &.workout_card__img_1 {
                            background-image: url('../../../img/workout/card_1.jpg');
                        }
                        &.workout_card__img_2 {
                            background-image: url('../../../img/workout/card_2.jpg');
                        }
                        &.workout_card__img_3 {
                            background-image: url('../../../img/workout/card_3.jpg');
                        }
                        @media (max-width: 420px) {
                            height: 35vh;
                        }
                    }
                    .workout_card__discription {
                        padding: 60px 80px;
                        font-size: 2rem;
                        background-color: $colorFone;
                        text-align: center;
                        line-height: 50px;
                        .workout_card__num {
                            font-family: Gilroy-Bold;
                            background-image: url('../../../img/ems/Vector.svg');
                            background-repeat: no-repeat;
                            background-position: 30px -3px;
                            padding: 15px 0;
                        }
                        .workout_card__cost {
                            font-family: Gilroy-Bold;
                        }
                        .workout_card__one_session {
                            font-family: Gilroy-Bold;
                            background: linear-gradient(-90deg, #3A3A3A 0%, #FFFFFF 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .workout {
        .workout_prices {
            .workout_prices__inner {
                .workout_prices__cards {
                    .workout_card {
                        width: 500px;
                        min-width: 300px;
                        &:nth-child(2) {
                            margin: 20px 0;
                         }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .workout {
        .workout_prices {
            .workout_prices__inner {
                .workout_prices__cards {
                    .workout_card { 
                        min-width: none;
                        .workout_card__discription {
                            padding: 20px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}




.workout {
    
    .workout_advantage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 70%;
        
        // background-image: url('../../../img/workout/advantage.jpg');
        // background-color: rgba(36, 34, 34, 0.849);
        // box-shadow: 0 150px 200px inset #000;

        .workout_advantage__inner {
            padding: 100px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 960px) {
                padding: 50px 0px;
            }
            @media (max-width: 420px) {
                padding: 50px 0;
            }
            .workout_advantage__title {
                font-family: Gilroy-Bold;
                font-size: 36px;
                padding-bottom: 10px;
                border-bottom: 3px solid #fff;
                margin-bottom: 70px;
                @media (max-width: 420px) {
                    margin-bottom: 20px;
                }
            }
            .workout_advantage__list {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: nowrap;
                width: 100%;
                @media (max-width: 1280px) {
                    overflow: hidden;
                    overflow-x: scroll;
                    min-width: 100%;
                    justify-content: flex-start;
                }
                .workout_advantage__item {
                    
                    margin: 20px 10px 50px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 320px;
                    img {
                        max-width: 80px;
                    }
                    @media (max-width: 960px) {
                        min-width: 40vh;
                        margin: 0 10%;
                    }
                    @media (max-width: 420px) {
                        min-width: 50vh;
                        margin: 0 5%;
                    }
                    .workout_advantage__subtitle {
                        font-size: 1.7rem;
                        margin-bottom: 20px;
                        font-family: Gilroy-Bold;
                    }
                    img {
                        padding-bottom: 40px;
                        @media (max-width: 420px) {
                            padding-bottom: 20px;
                        }
                    }
                    p {   
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}






