
.contacts {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    background-color: #000;
   
    .marker {
        width: 50px;
        height: 50px;
        background-image: url('../../img/logo_black.png');
        background-size: cover;
    }
     .contacts__block {
        width: 30%;
        color: #fff;
        left: 10%;
        top: 50%;
       
        position: absolute;
        z-index: 1;
        background-color: #000;

        .contacts__inner {
            padding: 50px;
           
            .contacts__title {
                font-size: 36px;
                font-family: Gilroy-Bold;
                margin-bottom: 30px;
            }
            .contacts__content {
                font-size: 1.5rem;
                div {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid #fff;
                    img {
                        width: 40px;
                    }
                    p {
                        text-align: end;
                    }
                }
            }
            .contacts__img_list {
                margin-top: 50px;
                .contacts__img {
                    width: 100%;
                    max-height: 100%;
                    height: 15vmax;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.one {
                        background-image: url('../../img/contacts_img/_161.jpg'); 
                    }
                    &.two {
                        background-image: url('../../img/contacts_img/_004.jpg');
                    }
                    &.three {
                        background-image: url('../../img/contacts_img/_019.jpg');
                    }
                }
            }
        }
    }   
}


@media (max-width: 960px) {
    .contacts {
        height: 100%;
        display: flex;
        flex-direction: column;
        .contacts__map {
            display: block;
            position: static;
            width: 100%;
            height: 60%;
        }
        .contacts__block {
            position: static;
            width: 100%;
            height: 50%;
           
            .contacts__inner {
                @media (max-width: 420px) {
                    padding: 50px 10px;
                }
                .contacts__content {
                    @media (max-width: 420px) {
                        font-size: 1.2rem;
                        div {
                            img {
                                width: 30px;
                            }
                        }
                    }
                    
                }
                .contacts__img_list {
                    display: none;
                }
            }
        }
    }
}










// .contacts {
//     width: 100%;
//     height: 100vh;
//     position: relative;
//     z-index: 2;
//     background-color: #000;
//     overflow: hidden;
//     .contacts__map {
//         position: relative;
//         width: 100%;
//         height: 100vh;
//     }

//     .contacts__block {
//         position: absolute;
//         width: 30%;
//         top: 15%;
//         left: 10%;
//         z-index: 4;
//         background-color: #000;
//         box-shadow: 5px 5px 10px rgba(56, 55, 55, 0.575);
//         color: #fff;
//         .contacts__inner {
//             padding: 50px;
           
//             .contacts__title {
//                 font-size: 36px;
//                 font-family: Gilroy-Bold;
//                 margin-bottom: 30px;
//             }
//             .contacts__content {
//                 font-size: 1.5rem;
//                 div {
//                     padding: 20px 0;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     border-bottom: 2px solid #fff;
//                     img {
//                         width: 40px;
//                     }
//                     p {
//                         text-align: end;
//                     }
//                 }
//             }
//             .contacts__img_list {
//                 margin-top: 50px;
//                 .contacts__img {
//                     width: 100%;
//                     max-height: 100%;
//                     height: 15vmax;
//                     background-repeat: no-repeat;
//                     background-size: cover;
//                     &.one {
//                         background-image: url('../../img/contacts_img/_161.jpg'); 
//                     }
//                     &.two {
//                         background-image: url('../../img/contacts_img/_004.jpg');
//                     }
//                     &.three {
//                         background-image: url('../../img/contacts_img/_019.jpg');
//                     }
//                 }
//             }
//         }
//     }
// }


// @media (max-width: 960px) {
//     .contacts {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         .contacts__map {
//             display: block;
//             position: static;
//             width: 100%;
//             height: 60%;
//         }
//         .contacts__block {
//             position: static;
//             width: 100%;
//             height: 50%;
           
//             .contacts__inner {
//                 @media (max-width: 420px) {
//                     padding: 50px 10px;
//                 }
//                 .contacts__content {
//                     @media (max-width: 420px) {
//                         font-size: 1.2rem;
//                         div {
//                             img {
//                                 width: 30px;
//                             }
//                         }
//                     }
                    
//                 }
//                 .contacts__img_list {
//                     display: none;
//                 }
//             }
//         }
//     }
// }



// .mark {
//     width: 500px;
//     height: 500px;
//     display: block;
//     background-color: #000;
//     font-size: 2rem;
// }
